[2017-03-24 20:52] craigham opened #1 "control channel needs to be assigned to device id"
right now control channel handling in IsyInsteonDeviceHandler does not take into consideration the device id for the insteon address.

[2017-05-28 17:16] boc-tothefuture opened #5 "Room support is not complete"
Presently room support does not seem to be fully functional in the new driver.

Detailed discussions is available [here](https://community.openhab.org/t/hai-omnilink-bindings-help/7511/99?u=broconne).

Output from the V1 driver during a room scene change:
[code]

Output from the V2 driver:
[code]

[2017-05-28 17:16] boc-tothefuture opened #6 "Thermostat support is missing from the V2 driver"

[2017-05-28 17:17] boc-tothefuture opened #7 "Audio support is missing from the V2 driver"

[2017-05-28 18:00] craigham commented on #5
Brian,

for the v2 driver log output, could you let me know what action you performed on the omnilink to get the messages going?  i.e. turned on scene b for room 0.

[2017-05-28 18:14] boc-tothefuture commented on #5
Craig -
  That is Room 4, Scene B for both V1 and V2.

[2017-05-28 18:25] craigham commented on #5
Brian.  I will work on the room support.  The other two issues will be harder for me to tackle because I use nest for thermo stats, and I am also authoring a russound rnet binding which handles my audio.  My russound devices are not hooked into my omni.

[2017-05-28 18:37] craigham commented on #5
Brian, do you think it makes sense to send Off commands for scenes as well?

[2017-05-28 18:52] boc-tothefuture commented on #5
I can start on the thermostats.

[2017-05-28 18:53] boc-tothefuture commented on #5
Craig -
  The off command is necessary.  There really is no difference in the Omni between On/Off/a/b/c/d.  They are just upb links that are sent out.

[2017-05-28 23:52] craigham commented on #5
Looking at the code for the 1.x binding, to me it looks like it either sends a OmniLinkCmd.CMD_UNIT_ON, or OmniLinkCmd.CMD_UNIT_OFF, or if a scene is being turned 'on', then the OmniLinkCmd.CMD_UNIT_UPB_LINK_ON command is sent.  So it's not quite just a variable that can have 6 different values.  Also there isn't an off for a particular scene....just room on/off, or scene on for a through d which

[2017-05-29 00:03] boc-tothefuture commented on #5
Correct there is no off for a scene.   Just what I would consider the room off scene.
Under the covers the Omni is just sending one of 6 upb links that maps to that room for each on/off/a/b/c/d.

But what you said maps to my thinking.

Thanks for working on this.

[2017-05-29 00:04] boc-tothefuture commented on #6
I will begin working on this issue.

[2017-05-29 01:23] craigham commented on #5
ok Brian, I have added some more channels to the room, and hopefully this can do everything.

you will probably have to delete your existing rooms and re-discover, depending on how you have openhab doing the linking.

now there are channels for on, off, scene a, b,c,d.  They are triggered when they get an ON command.

there is also a status channel which keeps track of the most recent 'state' base

[2017-05-29 01:23] #1 closed

[2017-05-29 01:24] craigham commented on #1
this issue is for another binding.

[2017-05-29 10:26] boc-tothefuture commented on #5
OK - I think that will work.  Only issue is that with separate scene triggers I don't think there is a way to group them into a selection.  However, if that is necessary, a virtual switch could be made to dispatch between the scenes.

I will try and test this out tonight and see where I can get with it.

[2017-05-29 14:13] craigham commented on #5
It wouldn't be  difficult to rename the status channel, and make it non
read-only.  Then you could select from 0-6, which would represent
off/on/a/b/c/d.

I have scene switches for some of my  instead stuff, and for that sometime
the state of the individual buttons is not mutually exclusive, because the
button presses don't have to be only for scenes.

If I adjusted that status channel for you, so

[2017-05-29 15:01] boc-tothefuture commented on #5
I think that would be perfect if the status was renamed and wasn't read only.  It would let people model it both ways.  As individual buttons that execute actions and as lighting scenes in an HAI context.

[2017-05-29 22:30] mitchmitchell opened #8 "ISY binding -- does not load due to javax.annotation issue"
I tried to build and load the isy binding into my openhab2 instance but it gets an error on startup:

2017-05-29 17:24:22.243 [ERROR] [org.openhab.binding.isy             ] - FrameworkEvent ERROR - org.openhab.binding.isy
org.osgi.framework.BundleException: Could not resolve module: org.openhab.binding.isy [243]
  Bundle was not resolved because of a uses contraint violation.
  org.osgi.service.re

[2017-05-29 23:47] craigham commented on #8
Could you try using my build instead of you building it.  Just want to reduce possible errors.

If your openhab is 2.1 and recent, it is easiest to enable the marketplace plugin and then install it via that.

Otherwise download this jar and drop it in your addons folder
https://s3-us-west-2.amazonaws.com/craigham-pub/org.openhab.binding.isy-2.1.0-SNAPSHOT.jar

Let me know how that goes.

[2017-05-30 00:27] mitchmitchell commented on #8
My openhab is from a recently downloaded openhabian image -- openHAB 2.0.0-1 (Release Build)

I'd be happy to try the marketplace but I've no idea how to enable it.

downloaded from your link above now...

[2017-05-30 00:29] mitchmitchell commented on #8
same error:

2017-05-29 19:27:23.263 [ERROR] [org.openhab.binding.isy             ] - FrameworkEvent ERROR - org.openhab.binding.isy
org.osgi.framework.BundleException: Could not resolve module: org.openhab.binding.isy [245]
  Bundle was not resolved because of a uses contraint violation.
  org.osgi.service.resolver.ResolutionException: Uses constraint violation. Unable to resolve resource org.ope

[2017-05-30 00:49] craigham commented on #8
I think the marketplace has only been enabled for the experimental 2.1 builds.  No worries, the market place downloads the same jar file, it can just do it automatically for you.

[2017-05-30 00:54] craigham commented on #5
Brian,

Latest build should have room stuff in it.  Seems a little slow setting the units when a scene is turned on.  I seem to remember there being code in the 1.x version of the binding which specifically set each unit as well as the room.  I will investigate.

[2017-05-30 00:58] mitchmitchell commented on #8
cool.  Well looks like no-joy on the jar file -- what else do you need me to do to troubleshoot?

[2017-05-30 01:27] boc-tothefuture commented on #5
Thanks for the work here.. I pulled the latest.

The sending the scenes as buttons seems to work correctly.

However, I am unable to get the state to show up, its always "-".

I see in the log, that it should be updated:
`2017-05-29 21:18:41.542 [DEBUG] [binding.omnilink.handler.RoomHandler] - need to handle room status updateUnitStatus ( number = 105    status = 1    time = 0     )`
(Note - I add

[2017-05-30 02:49] mitchmitchell commented on #8
I made an image backup of my SD card and am upgrading to the nightly build -- I'll try the binding out on that version.

[2017-05-30 14:19] craigham commented on #8
Mitch,

If you are going to use your existing user data folder, make sure you clear
out userdata/tmp.  That is where the dependencies are downloaded to.

On Mon, May 29, 2017 at 7:49 PM, mitchmitchell <notifications@github.com>
wrote:

[2017-05-30 14:27] mitchmitchell commented on #8
ok, will do -- has this build been tested against the ISY 5.x alpha firmware?

[2017-05-30 14:32] craigham commented on #8
just wait, don't waste your time.  I just tried the latest build against my
latest openhab and I too get that resolution issue.

I will take a look in a couple hours and see if I can figure it out.

I believe others have used it against 5.x.  It just uses rest and web
sockets so most functionality should be there.

On Tue, May 30, 2017 at 7:27 AM, mitchmitchell <notifications@github.com>
wrote:

[2017-05-30 14:38] mitchmitchell commented on #8
thanks, I will "waste" my time exploring other areas of 2.1 then until I hear back from you!

[2017-05-30 16:05] mitchmitchell commented on #8
Funny thing is I tried the binding against the latest daily build last night and did not get the annotation error, but discovery did not seem to kick off, not sure what is expected there.

[2017-05-30 17:10] mitchmitchell commented on #8
I did add the ISY, and it seems to be reachable, I'm going to have to look at the logging in more detail.

[2017-05-30 17:19] craigham commented on #5
try number.  I believe state is mapped to Number

[2017-05-30 19:49] craigham commented on #8
would appreciate if you tried the latest on my s3 account to see if that
resolves issue w references.

thanks

On Tue, May 30, 2017 at 10:10 AM, mitchmitchell <notifications@github.com>
wrote:

[2017-05-30 20:04] mitchmitchell commented on #8
Sure thing!  Will do as soon as I get home this evening

[2017-05-30 23:58] mitchmitchell commented on #8
Your jar file seems to have fixed the annotation reference issue.  The binding appears to be starting now and attempting discovery.  Its getting array out of bounds exceptions on the polyglot nodes I have connected to our Harmony remote.

[2017-05-31 00:01] mitchmitchell commented on #8
uom="100" prec="0">255</action><node>F 71 60 1</node><eventInfo></eventInfo><fmtAct>100%</fmtAct></Event>
2017-05-30 19:00:34.898 [DEBUG] [sy.internal.IsyWebSocketSubscription] - Control: OL, Action: 255, Node: F 71 60 1
2017-05-30 19:00:34.899 [DEBUG] [binding.isy.handler.IsyBridgeHandler] - find thing handler for address: F 71 60 1
2017-05-30 19:00:34.899 [DEBUG] [binding.isy.handler.IsyBridgeHa

[2017-05-31 00:22] craigham commented on #8
ya, no support for that.

I only have insteon.  I believe there is some zwave support in there too.

I have decided to go with openhab as my generic home automation software.
Polygot appears to be an alternative to that.  Am I incorrect?

thanks

On Tue, May 30, 2017 at 5:01 PM, mitchmitchell <notifications@github.com>
wrote:

[2017-05-31 00:24] mitchmitchell commented on #8
it looks like the code at:

    public static String stripDeviceId(String insteonAddress) {
        logger.debug("stripDeviceId from address: " + insteonAddress);
        String[] addressParts = insteonAddress.split(" ");
        return new StringBuilder().append(addressParts[0]).append(" ").append(addressParts[1]).append(" ")
                .append(addressParts[2]).toString();
    }

is expectin

[2017-05-31 00:29] craigham commented on #8
currently the isy binding only handles insteon nodes, and I believe some
zwave devices.

you could take on polygot integration if you feel the need/desire.  I would
suggest you may want to look at openhab harmony hub integration via the
binding.

I'm using openhab as the more generic top level software for my home
automation.  There are a lot of bindings, and it has a very vibrant
community.  Much

[2017-05-31 00:35] mitchmitchell commented on #8
Well, where would I look to just block the polyglot addresses from getting propagated too far into the add-on where they would cause problems?  That would be the first step, just keeping them from blowing things up.  I can certainly remove my polyglot nodes for now but eventually may want to have others the isy talks too so I'd want to at least stop them from breaking the binding.

[2017-05-31 00:42] craigham commented on #8
I'll look into that.

could you send me an example of the xml from the web socket which
contains 'polyglot ',
and I could rig something to ignore?

On Tue, May 30, 2017 at 5:35 PM, mitchmitchell <notifications@github.com>
wrote:

[2017-05-31 00:48] boc-tothefuture commented on #5
OK.  Mapping to a number helped.  The status now get properly reflected.  Also, on and off seem to work when used in a selection.  However, the scenes don't seem to fire:

Here is what I see in the log when selecting scene a (nothing happens):
`2017-05-30 20:41:14.669 [DEBUG] [binding.omnilink.handler.RoomHandler] - handleCommand, channel id: omnilink:room:105:state, command: 2`

Here is what I se

[2017-05-31 01:47] mitchmitchell commented on #8
Dang, I just shut down my polyglot node, cleared the offending isy nodes, my logs, and restarted -- that eliminates the array out of bounds exception to try out the add on again.

I'm pretty sure its here:
public static String stripDeviceId(String insteonAddress) {
    String[] addressParts = insteonAddress.split(" ");
    return new StringBuilder().append(addressParts[0]).append(" ").append(addre

[2017-05-31 01:48] mitchmitchell commented on #8
Found an old log file with the xml:

2017-05-30 19:29:39.152 [DEBUG] [binding.isy.handler.IsyBridgeHandler] - No thing discovered for address: F 71 60 1
2017-05-30 19:29:39.153 [TRACE] [sy.internal.IsyWebSocketSubscription] - Parsing message: **<?xml version="1.0"?><Event seqnum="34" sid="uuid:415"><control>GV5</control><action uom="25" prec="0">30</action><node>n001_harmonyhub</node><eventInfo></

[2017-05-31 02:00] mitchmitchell commented on #8
Here is what the nodes look like on the ISY admin display

![image](https://cloud.githubusercontent.com/assets/1643589/26612530/013f5458-457b-11e7-9f5c-83913f93e19f.png)

[2017-05-31 02:41] craigham commented on #5
could you send me your sitemap declaration for the _state item so I can
trace through the roomhandler ?

thanks

On Tue, May 30, 2017 at 5:48 PM, boc-tothefuture <notifications@github.com>
wrote:

[2017-05-31 02:42] craigham commented on #8
is n001 for all polygot nodes, or was it customizable for you?

On Tue, May 30, 2017 at 7:00 PM, mitchmitchell <notifications@github.com>
wrote:

[2017-05-31 03:37] mitchmitchell commented on #8
I think n001 may be tied to the slot used (there are 10) for the polyglot server -- I didn't set that prefix, it was done automatically

[2017-05-31 17:03] craigham commented on #8
so does that mean you think the prefix could be

n001
n002
...
n010

but not n011 or n100 ?

[2017-05-31 17:59] mitchmitchell commented on #8
I'm not certain of that -- I've posted the question to the Universal Devices Polyglot forum to get a definitive answer how to identify that a node is polyglot controlled.

[2017-05-31 18:45] mitchmitchell commented on #8
Here is the response I got -- looks like a leading 'n' is the key:

As of this moment, the address is prefixed by the letter "n" and three digits.  For the record, zwave node addresses start with "ZW" and three digits.

Here's a node dump, if it helps -- you can pretty easily pick out the different types:

<node flag="128" nodeDefId="RelayLampSwitch_ADV">
<address>36 8 CD 1</address>
<name>Wally t

[2017-06-01 01:48] craigham commented on #8
could you try latest build, I attempted to get it to ignore nodes starting with 'n'

[2017-06-01 02:36] boc-tothefuture commented on #5
@craigham - I pulled the latest code and I am still seeing the same issue.
 Digging around a bit, the problem, is the 'roomNumber'
The following will fix the code so it works:
[code]

Before we do the conversion (+7)/8 what we really have is the 'unitNumber' not the 'roomNumber'.   I am not sure if you want to rename it everywhere and change it to roomNumber down below?  So, I didn't submit a PR.

[2017-06-01 04:18] mitchmitchell commented on #8
I installed it and have it running, I will have to reset up my Polyglot node to make sure it doesn't fail...

[2017-06-01 15:16] craigham commented on #5
thanks for catching that mistake.

latest build has the fix in.

On Wed, May 31, 2017 at 7:36 PM, boc-tothefuture <notifications@github.com>
wrote:

[2017-06-02 03:53] mitchmitchell commented on #8
I am getting a different error now that I have the polyglot server back online -- this one puzzles me.
I am running the openhab daily build  openHAB 2.1.0~20170601234250-1 (Build #934)
I've attached the openhab log file here:
[openhab.log.zip](https://github.com/QuailAutomation/openhab2-addons/files/1046633/openhab.log.zip)

[2017-06-02 12:35] boc-tothefuture commented on #5
Latest code seems to work.  I think we can close this issue.

[2017-06-02 14:04] #5 closed

[2017-06-06 11:29] boc-tothefuture opened #9 "Security Arming Model - Proposal"
I think we should modify the arming model we are using for the Omni because I am not sure it appropriately maps right now.  This issue also exists in the V1 driver.

Right now, we have as user selectable states:
Off, Day, Night, Away, Vacation, Day Instance, Night Delay.
The issue is that Off is the only of these states that you can actually directly move an Omni into.

When you select, for exampl

[2017-06-06 13:53] boc-tothefuture commented on #9
Adding @digitaldan to this discussion.

[2017-06-06 14:41] craigham commented on #9
Having those distinctions available in the rules sounds like a great idea.

[2017-06-07 12:12] boc-tothefuture commented on #9
I think the binding will certainly be impacted - looking at the driver code, the mode support appears to be [in place already](https://github.com/digitaldan/jomnilink/blob/master/src/com/digitaldan/jomnilinkII/MessageTypes/statuses/AreaStatus.java)
However, in the log when I arm the system in night mode at the panel the binding logs that its in area mode 2 instead of area mode 10.  I will take a l

[2017-06-07 14:43] digitaldan commented on #9
HI, sorry to be late to the party :-)   I had to go back and read that code a few times....I think we have a SecurityMode channel, it can accept the same string modes as the 1.x version does, but that does not restrict what the state value is for the channel.

So for example the supported  **Commands:** of the channel would be:
```{ "Off", "Day", "Night", "Away", "Vacation", "Day-Instant","Night-D

[2017-06-07 14:59] craigham commented on #9
Dan,

Let's assume panel security state is 'Off'

So by selecting a command 'Night', the state channel would transition to 'Arming Night', and then after the arming delay to 'Night' ?  How does the state avoid that initial change to 'Night'?   I haven't seen that mechanism before within openhab.

[2017-06-07 15:13] boc-tothefuture commented on #9
What is @craigham is pointing out is my big concern.  Because if it openhab fires the 'Night' or 'Away'  item changed when the user changes it those rules are going to trigger early, then again after the exit delay.

I am also concerned, because when I look at the jominlink code, it appears it should be picking up those additional security modes.  But when I go to the panel and do a night arming i

[2017-06-07 15:26] digitaldan commented on #9
Yes I see, I had incorrectly assumed this was implemented https://github.com/eclipse/smarthome/issues/595 , but it looks like it has stalled out.

Well, i wrote that code so long ago that I'm embarrassed when I look at it now :-) If the code is not working right we (I) can fix it.   At a minimum I need to at lest run it through a code formatter!

So in terms of ESH mechanics, are you proposing hav

[2017-06-07 15:29] craigham commented on #9
I think we could solve it pretty easily within sitemaps by just using a mapping.  Paper is more difficult because it is driven by the xml, etc.  This would result in only the one channel.   But yes a command channel would probably work as well.

imho expecting users to get a nice polished experience out of paper is not really realistic.  If they want polish and wife acceptance they'll have to use

[2017-06-07 15:31] craigham commented on #9
I guess to support the 2 channel solution, we could have a command channel for the area.  also have a read-only state channel, the value of which is driven entirely by the omni.  Then the area handler sends commands to the omni, but reads the status.

[2017-06-07 15:38] digitaldan commented on #9
Yes,  but I think its important to support these features as other UI's (like habpanel) could start to utilize them more.  This future proofs our implementation and I think helps the overall project.  But I agree, the paperUI is not what I would be building for.

[2017-06-07 16:09] boc-tothefuture commented on #9
I don't know enough about the XML vs. mapping debate here to weigh in so I will abstain.

The only path I see (but I am no expert) given the current constraints of openhab autoupdate functionality would be to have the two channels.  If we have the two channels, we can provide the normal names for the intentions while having the state accurately reflected.

Will that be confusing to the users?  I a

[2017-06-07 17:12] digitaldan commented on #9
you can add `autoupdate="false"` when binding a channel to a item, this will disable a command from updating the state, but we will still be able to update it from the binding side. While I would prefer to make this more concrete  (and the default option),  I think this gets us where we want to be, and as long as we document it correctly with an example, I think would be ok.  Any reason this would

[2017-06-07 17:48] craigham commented on #9
Dan,

Can you specify autoupdate="false" from the paper ui, or any ui?  Or does this mean items will have to be specified within files?

[2017-06-07 19:08] digitaldan commented on #9
Unfortunately that is correct, until we have channel options for not auto updating.

[2017-06-07 19:29] boc-tothefuture commented on #9
I may just be misreading this, but the protocol doc is not lining up with what I am seeing when look at what we are getting over the wire.  It appears we will have to do the conversion between the modes in the binding:

When I arm the system in Night mode, this comes across the wire:
`0x21 0x09 0x3b 0x05 0x06 0x00 0x01 0x02 0x00 0x00 0x3c 0x6d 0x48 0x00 0x00 0x00`
Breaking that down into the proto

[2017-06-07 19:58] digitaldan commented on #9
The response says the mode is 1 which is Day mode, thats not correct either?

So the panel I ordered was defective and I had to send it back, i should have the new one tomorrow, so I can test as well hopefully this weekend.  Since I have not touched this stuff in 3+ years it may take me a little bit to get back up to speed.

[2017-06-07 20:07] boc-tothefuture commented on #9
I am actually not sure what the output is of the RX line from jomnilink, if it is doing some sort of conversion?  Because the mode is actually correct when its read as an unsignedByte from jominlink.  For example:
[code]

[2017-06-07 20:09] digitaldan commented on #9
I'll have to play with it on Friday, but lets assume the docs are correct and I have a bug somewhere in the omnilink driver.

[2017-06-07 22:46] ve7gel opened #10 "Possible thing compatibility with isy 5.0"
Craig, as requested.
An 'ON' command from any UI generates this output in the Karaf console

`15:39:23.507 [DEBUG] [binding.isy.handler.IsyDeviceHandler] - handle command, channel: isy:switch:f75c62c0:2A_40_99:state, command: ON
15:39:23.508 [DEBUG] [binding.isy.handler.IsyDeviceHandler] - insteon address for command is: 2A 40 99 1
15:39:23.509 [DEBUG] [b.binding.isy.internal.IsyRestClient] - chan

[2017-06-08 00:06] craigham commented on #10
do you have any insteon dimmers?  If so, could you turn one on with a slider?   Or maybe from Karaf

smarthome:update <item> 230

Insteon is 0 - 255 for value.

[2017-06-08 00:08] craigham commented on #10
I see the rest call for nodes is sending /DON/0....but the documentation I am reading now states DON/xx sets it on to the xx level.  I am away from my isy right now, so hard for me to test.  I will keep investigating.

[2017-06-08 00:17] craigham commented on #10
could you try dropping this jar into your addons folder and see if it addresses the issue.  I'll apologize in advance if there is a silly bug, I don't have access to my isy from where I am at.

https://s3-us-west-2.amazonaws.com/craigham-pub/org.openhab.binding.isy-fix-DON-2.1.0-SNAPSHOT.jar

[2017-06-08 00:38] ve7gel commented on #10
Sorry Craig, no change.  I still see the DON/0 and the same sequence in the isy event viewer.  Just to confirm I've got the right jar loaded:
`Bundle-Name = Isy Binding
Bundle-RequiredExecutionEnvironment = JavaSE-1.7
Bundle-SymbolicName = org.openhab.binding.isy;singleton:=true
Bundle-Vendor = openHAB
Bundle-Version = 2.1.0.201706071652`

The dimmers work fine BTW.

[2017-06-08 02:05] boc-tothefuture commented on #9
I am looking forward to @digitaldan getting his omni panel.  I spent about an hour looking at this and made no progress.  I feel like I am on crazy pills.  jomnilink is clearly working but what I am seeing over the wire isn't matching what I see in the protocol spec.  Its almost like I am looking at the wrong spec.

We will see what @digitaldan uncovers when he looks.  But, based on my testing acr

[2017-06-08 02:48] craigham commented on #10
that may be the incorrect jar.  You may not have noticed, but I made a special jar just for this issue, the filename includes fix-DON....it was built at the 16 minute mark, and looking at the version you specified above it is showing the 52 minute mark, which was the earlier build, with the standard name.  could you make sure you remove the old jars for this binding and try that last one?

[2017-06-08 02:50] craigham commented on #9
Brian,  how have you hooked in the jomnilink source debugging into eclipse?  I tried adding the jomnilink project to the other projects folder, and then attaching that source to the jar, but couldn't seem to set up breakpoints and stuff.

[2017-06-08 11:38] boc-tothefuture commented on #9
@craigham I wasn't running it in the eclipse debugger.  I was just editing the code in atom, compiling with ant, then running it from the command line.  The main method of the example jar has debug mode on and spits out all that info.

[2017-06-08 17:45] craigham commented on #9
fwiw I am seeing the same byte patterns on the wire as you are Brian.

I ended up just compiling my own jomnilink with the debug flag turned on inside the connection class, and debug info into the Javac for the ant target, and I use that in my lib folder.

[2017-06-08 18:57] ve7gel commented on #10
Looks like that was the fix.  I had some issue removing the old bundle and getting this one running in its place, but it all looks good now.  I re-downloaded your build from the link above, and the version is now 2.1.0.201706080013.

Thanks a bunch for your work on this and your response!

[2017-06-08 18:57] #10 closed

[2017-06-11 23:47] craigham opened #13 "error when setting security when a window open"
When a window is open if I try and change to day or night security, get the following

`2017-06-11 16:45:23.620 [DEBUG] [io.rest.core.item.ItemResource:288  ] - Received HTTP POST request at 'items/omnilink_area_1_mode' with value '2'.
2017-06-11 16:45:23.621 [INFO ] [arthome.event.ItemCommandEvent:43   ] - Item 'omnilink_area_1_mode' received command 2
2017-06-11 16:45:23.622 [DEBUG] [.c.thing.in

[2017-06-12 00:35] digitaldan commented on #13
That's because the system is responding with something other then a ACK (probably an NACK), which means it could not process the message b/c the action could not be completed (window was open).   I'll catch the specific OmniInvalidResponseException and reset the state.

Question, I noticed you have wrapped command calls in a guava Future library, out of curiosity, what's the benefit of doing this?

[2017-06-12 00:39] craigham commented on #13
The intent is to make all calls to the external system (omnilink here) non-blocking, so it submits the future, and then with callbacks handles the response whenever they come back.

I've been working on a couple other bindings and my research I found others doing it.  Seemed like a good idea.

Its not the most intuitive thing to see at first, but I've gotten pretty used to it now.  Just let me kno

[2017-06-12 00:47] craigham commented on #13
The BaseThingHandler class makes a schedule available to the bridge handers, so I see it as receiving a command from OH, then tossing the work onto a scheduler to make the call and hit the callback, and then can let OH get back at things without getting blocked.

[2017-06-12 01:20] digitaldan commented on #13
In this case we need to know if it's successful or not,  so do we pass in a failure callback?  This will be true for any object (unit/zone/area/etc...) that we send a command to.  In this case if the call fails we need to not set the mode to armed, when it's still off.

 For requests like handling commands, I'm not sure a future makes sense.  If I'm executing a REST command, or even a rule, if I s

[2017-06-12 01:56] craigham commented on #13
It's an interesting discussion.

I do believe there is value in using non-blocking calls to external systems.  e.g. SocketTimeouts can take forever, and there are other potential delays.  Unfortunately I don't have a nice concise sales pitch on it, so please Indulge me by letting me ramble a little about what I perceive to be some of the factors.

I haven't checked the call stack of the command di

[2017-06-12 02:16] craigham opened #14 "zones decimal, or string for channels"
There is a type mismatch in the zones, string or number.

getting this in logs:

`2017-06-11 19:11:32.369 [DEBUG] [s.c.internal.items.ItemUpdater:72   ] - Received update of a not accepted type (DecimalType) for item omnilink_zone_2_current_condition
2017-06-11 19:11:32.369 [INFO ] [smarthome.event.ItemStateEvent:43   ] - omnilink_zone_2_current_condition updated to 0
2017-06-11 19:11:32.370 [DEBU

[2017-06-12 04:34] digitaldan commented on #13
Since you started the binding, I will defer to you :-)

But... I'm for keeping this as simple as possible, as thin as possible. If you feel strongly , then I'm ok, I will just need some way of handling command failures in the individual handlers. If you can put that in we can just go forward.

I think this is extreme and not what I was saying, it should block until the system acknowledges (ACK) or

[2017-06-12 14:07] digitaldan commented on #14
Yes, I saw this too.  Whats strange is that it was working!   I'll take a look to see what I broke :-)

[2017-06-12 14:25] digitaldan commented on #13
So I was thinking about this and realized I was making a lot of assumptions, but to be honest, I was not sure about this either, appently calls to a things handleCommand are already scheduled in a seperate thread, see
https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManager.java#L374

I decid

[2017-06-12 14:30] craigham commented on #13
Dan,

Thanks for figuring that out.

There seems to be no need to do non-blocking from the handleCommand now.  That will lighten up the code for sure.

To confirm, is that your takeaway too?

[2017-06-12 14:34] craigham commented on #13
And one more thing, earlier I got into the discussion with you, and didn't answer on of your questions.

In the code where it called

`getOmnilinkBridgeHander().sendOmnilinkCommand(mode, 1, number);`

I could have wrapped it with the addCallaback method as shown below, and that exact code is just above for area refresh.  You'll notice the onFailure method which would have been called when the Omni

[2017-06-12 14:35] digitaldan commented on #13
That's my thought as well, that handlers can call directly.  I still think that the bridge should at least abstract the call a bit so that it can also catch exceptions, so if a command has a socket issue, the bridge can disconnect, set to offline and reschedule a connection before returning an exception (or something) to the calling code.  wdyt?

[2017-06-12 14:38] digitaldan commented on #13
Ahh, ok sounds good, I like the callback pattern they use.  Again, I know we have kicked this dead horse over and over :-)  but I'm ok either way!

[2017-06-12 14:42] craigham commented on #13
ya, totally agree.

 it's not enforced via code at this time because I believe I do make the
connection to the jomniink Connection from the bridge handler, but I have
coded all the other handlers to call a method on the bridge and it calls
the methods on the Connection.  so, that getConnection should not be used,
and made private soonish is my point.

e.g. there is a getUnitStatus method on the br

[2017-06-12 14:43] craigham commented on #13
No, full agreement by me to pull out the non-blocking now.  It was my
oversight to not check the dispatch thread/read the docs to see how
handleCommand was called.

On Mon, Jun 12, 2017 at 7:38 AM, Dan Cunningham <notifications@github.com>
wrote:

[2017-06-12 15:08] digitaldan commented on #13
I wonder if we should have a "sendCommand" function that wraps command calls?  in the 1.x binding we have https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.omnilink/src/main/java/org/openhab/binding/omnilink/internal/OmniLinkCommandMapper.java , i think that logic now lives in each handler , so tha handler knows what wierd parameters each command needs and

[2017-06-12 15:19] craigham opened #15 "how to expose jomnilink Connection via bridgehandler"
Dan,

Wondering what your thoughts are on accessing the omnilink from the individual handlers.

I have this in the bridge handler. (note the 'New' at end of method will disappear) - getting rid of the NIO.

`private ObjectStatus requestObjectStatusNew(final int objType, final int startObject, final int endObject,
            boolean extended) throws OmniInvalidResponseException, OmniUnknownMessage

[2017-06-12 15:28] ve7gel opened #16 "ISY Binding: Scene status doesn't update when manually operating switches"
Another wrinkle for you Craig.  When manually operating any of the wall switches, the associated scene status doesn't update in any of the UIs.  The switch thing works normally, and the scene function works correctly when activated in the panels.  Here is the trace from manually actually device 2A 40 99, which is a member of the scene in question:

`2017-06-12 08:21:33.410 [DEBUG] [sy.internal.Isy

[2017-06-12 15:31] craigham commented on #13
Dan, can we continue this over on this issue?
https://github.com/QuailAutomation/openhab2-addons/issues/15

I'll respond there to your last sendCommand question

[2017-06-12 15:38] craigham commented on #15
Currently there is a method on the bridgeHandler

`public void sendOmnilinkCommand(final int message, final int param1, final int param2) {

        listeningExecutor.execute(new Runnable() {

            @Override
            public void run() {
                try {
                    omniConnection.controllerCommand(message, param1, param2);
                } catch (IOException | OmniNotConnec

[2017-06-12 15:39] craigham commented on #15
I think this sendOmnilinkCommand was like what you were suggesting, right?

[2017-06-12 16:25] digitaldan commented on #15
Yep! So it should throw either an OmniInvalidResponseException | OmniUnknownMessageTypeException to the handler since both are recoverable.  Also i am just thinking it should maybe also throw a BridgeOfflineException (new class) if the bridge catches a IOException or OmniNotConnectedException (or is just not connected) , that way the handler does not need to do anything for those.

[2017-06-12 16:29] craigham commented on #15
sounds good to me.  I am refactoring upb units to be non-blocking, so maybe we can work through that handler to nail things down?  I should be able to check in something in the next 10 mins, just testing.

Dan, another question.  Though you would never know it by looking at the binding, I am a big fan of unit testing.  I was wondering if you know of a good way to get junit testing into a binding.

[2017-06-12 16:30] digitaldan commented on #14
So I'm not sure if this something left over in the system since we have changed the thing types, or a class loading issue. But I uninstalled the binding, restarted OH and installed the binding, and now I'm not seeing the issue anymore.

[2017-06-12 16:45] craigham commented on #15
Dan,

Could you take a look at

https://github.com/QuailAutomation/openhab2-addons/commit/085e847dd4059af712efedcde68e48e6aa0667c3

My upb units now do not call the NIO stuff.

Let me know your thoughts.

[2017-06-12 16:48] craigham commented on #15
fyi, the reason I started with units is because I know you don't have any so less chance of a merge conflict....

[2017-06-12 16:50] craigham commented on #14
when you say installed the binding, how are you doing that?  I am getting these errors when I run in eclipse debug mode.

And what is the intention, a String or a number?

[2017-06-12 16:54] digitaldan commented on #9
Either the spec is wrong OR they have updated it and not published that publicly!

You are both correct they do not send the arming modes, in fact I think those are now obsolete.  I also see the exit timer value when the arming starts and again when it completes, so if I do a arm day I first get:

```mode:1 entryTimer:0 exitTimer:60 alarms:0```

and then 60 seconds later I get

```mode:1 entryTime

[2017-06-12 16:58] craigham commented on #9
I have no problem with anything you said.

In particular I also agree about handling these changes in the binding, and not adding more to the lib.  Nice changes to the jomnilink lib too.

[2017-06-12 17:02] craigham commented on #14
I'm confused.

The channels.xml for the zone channels defines it as a string, and the code uses DecimalType.  I'm confused how this could work, unless you are expecting some implicit conversion from the DecimalType to a String.

[2017-06-12 17:05] craigham commented on #14
I think it is doing that conversion for you, so I guess it does work, but it is throwing that warning.  Wouldn't it be better to be setting to StringType

i.e.
`updateState(OmnilinkBindingConstants.CHANNEL_ZONE_CURRENT_CONDITION, new DecimalType(current));`

should be
`updateState(OmnilinkBindingConstants.CHANNEL_ZONE_CURRENT_CONDITION, newStringType(current));`

[2017-06-12 17:11] digitaldan commented on #14
I am running the binding within a OH instance, so I am installing new versions using the karaf console, running from eclipse is probably better :-)

Hmm, yes I rushed it.  It should probably be a decimal (0,1,2,3)

[2017-06-12 17:11] digitaldan commented on #14
I will fix that since I'm in there right now

[2017-06-12 17:20] craigham commented on #16
yes, I have struggled with how to handle scenes.  When a scene button is clicked, it does initiate the scene, and the lights do their thing.  But what then happens when someone manually adjusts a light which is in that scene?  isy doesn't keep track of things like that.  I am not at my isy setup right now, but when I have a insteon switch with those scene toggles, it makes as much sense to me to n

[2017-06-12 17:46] mitchmitchell commented on #16
Craig -- I had thought about this, in the context of keypadlinc leds displaying scene status.
It really comes down to a scene partially on or off -- but one way to look at it is to consider what the user wants when activating the scene controller again -- either you can turn the scene on or off.  I'd say, if the scene is turned on and one light is turned off (for example), pressing the button agai

[2017-06-12 18:05] digitaldan commented on #15
I'm a fan too, but have not done much in OH with testing.  I would look at https://github.com/eclipse/smarthome/tree/master/extensions/binding/org.eclipse.smarthome.binding.hue.test for an example.  Also I know that we are discouraging groovy tests, so I would stay away from those.

[2017-06-12 18:44] #14 closed

[2017-06-12 18:52] digitaldan commented on #9
Ok, so this is not working like it should of according to the docs.

Next question!  The arm/disarm command requires the User code number, which is not actually the the value of the code, but the codes object number (1st code, 2nd code, 3rd code ...).

Right now I have it hardcoded to code 1 for testing, but thats probably not good. i think the desire should be to pass in the numeric code when arm

[2017-06-12 19:04] craigham commented on #9
no objections here.  sorry, but no suggestions either.

[2017-06-12 21:14] boc-tothefuture commented on #9
I vote that we handle it in the binding.  I don't think we can easily do it in the rules.

[2017-06-12 21:16] boc-tothefuture commented on #9
I also agree with this.  Current mode channel is read only and the 'write' channel takes a code.

[2017-06-12 22:10] ve7gel commented on #16
It occurs to me that I should have been clearer.  The scenes I'm referring to are simple ones that are a group of 2477S's that are only on/off switches.  These work in place of the classic "3-way" switch scenario and will control a light or two from 2 or 3 different locations.  The other switches all track the state of the one that is actuated (one is turned off, they all turn off, as does the lig

[2017-06-12 23:38] digitaldan opened #20 "button presses"
I noticed that in https://github.com/QuailAutomation/openhab2-addons/blob/digitaldan-omnilink-binding-thing-types/addons/binding/org.openhab.binding.omnilink/src/main/java/org/openhab/binding/omnilink/handler/ButtonHandler.java#L32 we are setting the state of a button to on or off if we get a event notification.  Is this the correct behavior?  I think a button press just means a macro was executed

[2017-06-13 04:32] craigham commented on #20
ya, I think the way it was coded just so someone could write rules which trigger on button presses.  I was unaware of triggers.

[2017-06-13 05:32] digitaldan commented on #13
I think this issue can be closed with what has been merged in

[2017-06-13 14:00] craigham commented on #13
awesome work.

[2017-06-13 14:00] #13 closed

[2017-06-13 14:00] #15 closed

[2017-06-13 16:48] craigham opened #23 "periodic refresh"
Dan,

There is a periodic refresh in the bridge handler (see scheduleRefresh()).

Right now every 6 hours (this could be made configurable) the system queries the omnilink for the statuses (units only at this time) just to make sure openhab has not missed something, for whatever reason.

Do you think this is bad idea?

[2017-06-13 19:03] craigham commented on #16
I'll think about what I should do.  I'm going to have limited bandwidth for
the next couple weeks, so might take some time.

On Mon, Jun 12, 2017 at 3:10 PM, ve7gel <notifications@github.com> wrote:

[2017-06-13 19:07] mitchmitchell commented on #16
If the ISY is already tracking / changing the scene state then that would be relatively straightforward at least as far as the use case is concerned wouldn't it?

[2017-06-13 19:26] boc-tothefuture commented on #23
While I am not @digitaldan.. I did see that in the driver and was wondering if we needed it... I haven't seen the driver miss anything when I was playing with it.
My general thoughts/vote if I have one, is to remove it until we have evidence that it is necessary?
Less code (unless we have a demonstrated need for it) is usually better in my opinion.

[2017-06-13 19:27] boc-tothefuture commented on #20
Yeah, having a button 'on' doesn't make a lot of sense in am omni world.  But we do need a way of detecting when a button is pressed and having some rules driven off that where necessary.

[2017-06-13 22:33] craigham commented on #23
Thanks for the input Brian.  I shouldn't have directed the question
directly to Dan.  My bad.

I kind of like the periodic refresh if only once a day.  I have also used
an isy which is a dedicated insteon device, and I know it internally
queries each device once a day at 3am just to make sure state changes
haven't been missed.

On Tue, Jun 13, 2017 at 12:26 PM boc-tothefuture <notifications@github

[2017-06-13 23:22] ve7gel commented on #16
Yes, all three of the switches is set up as a controller/responder, and are all linked together.  One of them acts as the "Master" - i.e. the one that actually switches the load, the others I guess could be termed "slaves" with no load connection, though they do track the state of the scene - ie if one is switched on, they all show on, as does the load.  Conversely, if one is off they are all show

[2017-06-14 00:48] boc-tothefuture commented on #6
@craigham and @digitaldan -
  I have a silly question.  I am starting to work on the thermostat support here.  Previously, my edits were small so I was just using a combination of vi and atom.  For this one, I want to make sure I am sticking to the eclipse smarthome guidelines.

How do you get the new omnilink driver to show up in the smarthome eclipse IDE?  I change the branch to be one of the ne

[2017-06-14 00:56] craigham commented on #6
Try closing your the 1.x versions n of the project using java explorer
workspace.  Or add -1 to prior version.

On Tue, Jun 13, 2017 at 5:48 PM boc-tothefuture <notifications@github.com>
wrote:

[2017-06-14 01:30] boc-tothefuture commented on #6
Thanks @craigham..
What I ended up doing was just wiping my current install and doing a fresh install.  This time without any of the V1 addons.

I can now import the project and it shows up.  I do however, get a pom error for maven.
`Plugin execution not covered by lifecycle configuration: org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (execution: default, phase: compile)	pom.xml	/org.

[2017-06-14 01:55] boc-tothefuture commented on #6
@craigham and @digitldan -
  Are you exercising/testing the driver directly from eclipse or are you copying it into a running system every time you want to test?
  If you are testing it from eclipse how are you doing that?

[2017-06-14 02:00] craigham commented on #6
I  run it in debug mode (look under run configurations, or check on
internet for directions).

I find if i leave automatically compile/build from the project options it
does a good job of hot swapping in the newly compiled classes.  Doesn't
work if you change xml, or static stuff.

On Tue, Jun 13, 2017 at 6:55 PM boc-tothefuture <notifications@github.com>
wrote:

[2017-06-14 02:04] boc-tothefuture commented on #6
@craigham - Are you kicking off the paperUI in debug mode or just the omnilink driver directly?

[2017-06-14 02:26] craigham commented on #6
I run openHAB in debug mode.  I really never run the omnilink driver
directly.

On Tue, Jun 13, 2017 at 7:04 PM boc-tothefuture <notifications@github.com>
wrote:

[2017-06-14 03:21] craigham opened #24 "Label override?"
Dan, in the area.xml file for the channel definition the same channel type is used for each.  It would make for a friendlier user experience if we overrode the channel label/description.  Did you not do that because you don't like that, or just haven't gotten to it yet?

			<channel id="disarm" typeId="area_command" />
			<channel id="day" typeId="area_command" />
			<channel id="night" typeId="ar

[2017-06-14 03:27] craigham commented on #24
And in case you don't know what i mean, here is an example of using same channel def, but overriding the label/desc

			<channel id="scenea" typeId="scene_toggle">
				<label>Scene A</label>
			</channel>
			<channel id="sceneb" typeId="scene_toggle">
				<label>Scene B</label>
			</channel>
			<channel id="scenec" typeId="scene_toggle">
                              <label>Scene C</label>

[2017-06-14 03:49] digitaldan commented on #24
Just have not done it yet, its a good idea.

[2017-06-14 03:50] craigham commented on #24
I'm just about to hop on a plane.  Otherwise i would take care of it.

On Tue, Jun 13, 2017 at 8:49 PM Dan Cunningham <notifications@github.com>
wrote:

[2017-06-14 03:55] digitaldan commented on #23
I actually almost opened an issue around it now that you mention it.  As long we have have a connection there is no need to do a refresh, as @boc-tothefuture mentioned , i have never seen loosing events.  The only object we need to poll for is audio-source status messages, but that should probably be done in the handler.  I would also vote to remove it.

[2017-06-14 03:56] craigham commented on #23
Ok, no problem let's remove it.

On Tue, Jun 13, 2017 at 8:55 PM Dan Cunningham <notifications@github.com>
wrote:

[2017-06-14 03:57] digitaldan commented on #24
Safe travels, I'm on holiday tomorrow, so my contributions will be sparse over the next week.

[2017-06-14 03:59] craigham commented on #24
I'm heading over to Europe so my contributions might be sparse for almost
two weeks as well.

On Tue, Jun 13, 2017 at 8:57 PM Dan Cunningham <notifications@github.com>
wrote:

[2017-06-14 04:14] digitaldan commented on #9
Shall we close this issue?  I think we are good on our implantation .

[2017-06-14 04:18] craigham commented on #9
Done.  Nice work.

[2017-06-14 04:18] #9 closed

[2017-06-14 04:27] #24 closed

[2017-06-14 17:32] boc-tothefuture commented on #6
@craigham and @digitaldan
In the [discovery service](https://github.com/QuailAutomation/openhab2-addons/blob/digitaldan-omnilink-binding-thing-types/addons/binding/org.openhab.binding.omnilink/src/main/java/org/openhab/binding/omnilink/discovery/OmnilinkDiscoveryService.java) is there any concern if I rename some of the private methods.  They are all named generateXXX (I think this is carried over

[2017-06-14 18:00] boc-tothefuture commented on #6
@digitaldan - You had made a comment about removing the C and F for temperature stuff in the binding because the user sets the mode already.  I see it still in the thermostat.xml thing.  Is it safe for me to remove that now?

[2017-06-14 18:04] boc-tothefuture commented on #6
@craigham I am trying to make sense of some of the discovery code.  For things like [generateButtons()](https://github.com/QuailAutomation/openhab2-addons/blob/digitaldan-omnilink-binding-thing-types/addons/binding/org.openhab.binding.omnilink/src/main/java/org/openhab/binding/omnilink/discovery/OmnilinkDiscoveryService.java#L76) why is it looping through the areas?  I also see it adding the area

[2017-06-15 09:39] craigham commented on #6
@boc-tothefuture , you'll have to ask @digitaldan about generateButtons.  Dan refactored it.

Refactoring the name to discover seems like a good idea to me.

[2017-06-15 16:59] boc-tothefuture commented on #6
@craigham and @digitaldan
   I am building the thermostat stuff to only work on omnilink versions 3.x and above..  I assume that covers most of our user base.
  Let me know if you think we need to support 2.x

[2017-06-15 22:16] digitaldan commented on #6
👍

[2017-06-15 22:23] digitaldan opened #26 "Auto-discovery not adding things to a specific bridge"
Last night I noticed that my omni things did not actually reference my bridge, for example:

`{channel="omnilink:zone:1:contact"}`

This makes no reference to this zone thing being part of a bridge, assuming I called my bridge 'home' (and not the random name it defaults to), it should look like:

`{channel="omnilink:zone:home:1:contact"}`

I'm surprised that this has actually been working!  I gues

[2017-06-16 02:47] boc-tothefuture commented on #6
@digitaldan and @craigham
Is there something wrong w/ this channel definition?
`<channel-type id="thermostat_status">
		<item-type>Number</item-type>
		<label>Thermostat Status</label>
		<description>Current Thermostat activity</description>
		<category>Temperature</category>
		<state pattern="%d" readOnly="true">
		<options>
                <option value="0">Off</option>
                <option v

[2017-06-16 15:24] boc-tothefuture opened #28 "item IDs parsing can cause errors on manual thing configuration"
This defect came up while I was testing the thermostat setup.  I copied the following code that is in a lot of our handlers in the channelLinked method:
`logger.debug("channel linked: {}", channelUID);
 String[] channelParts = channelUID.getAsString().split(UID.SEPARATOR);
 int zoneId = Integer.parseInt(channelParts[2]);`
We use that to get the zone/thermostat/etc ID.  However, this is only workin

[2017-06-16 16:26] craigham commented on #28
Thanks a great catch Brian.

[2017-06-16 16:40] boc-tothefuture commented on #6
@digitaldan - I am done with the thermostat implementation.  I went to merge in the latest changes from here and it appears that some Console elements were added to jomnilink but were not pushed to master for that repo?  So when I built the latest thermostat stuff off of master it didn't pull in the console elements, which is now causing my build to fail for the binding.  Can you push those up to

[2017-06-16 16:45] boc-tothefuture commented on #6
@craigham  -
  Question, I am supposed to me merging/PR against the digitaldan branch now, right?  Or is it still against omnilink-binding branch?

[2017-06-16 16:47] craigham commented on #6
Against digital dan branch still.

On Fri, Jun 16, 2017 at 6:45 PM boc-tothefuture <notifications@github.com>
wrote:

[2017-06-18 22:38] boc-tothefuture opened #32 "Use iterable to for object property requests/responses"
If we agree that the the method I used in the [thermostat driver](https://github.com/QuailAutomation/openhab2-addons/pull/29/files#diff-4c95fe391ef5277755765fcccbcbfb19R161) is a good way to access object property responses I will go ahead and update the rest of the items to use the same method.

@digitaldan and @craigham

[2017-06-18 22:38] boc-tothefuture commented on #20
@digitaldan I am not seeing anything on triggers, do you have a link you can share?

[2017-06-18 23:19] digitaldan commented on #20
I have not used them personally, but here is kai announcing them.  https://github.com/eclipse/smarthome/issues/1043  I believe we would have a button channel still for UI's or rules  to issue a button command, but the trigger notification would be translated to a trigger channel where rules could respond.  Again, this is my understanding of triggers, but I have not used them at all yet.

[2017-06-18 23:22] digitaldan commented on #28
👍

[2017-06-19 15:17] digitaldan commented on #32
👍

[2017-06-19 15:27] digitaldan commented on #20
Sorry i typed that on my mobile,  I meant button notifications (from omnilink) would be translated to trigger channel events.

[2017-06-19 15:42] craigham commented on #32
Ditto for me

[2017-06-20 11:59] craigham commented on #26
I'm a little confused.  Doesn't the following, found in the Discovery  code, notice the withBridge call do the linking?

`                discoveryResult = DiscoveryResultBuilder.create(thingUID).withProperties(properties)
                        .withBridge(this.bridgeHandler.getThing().getUID()).withLabel(o.getName()).build();
                thingDiscovered(discoveryResult);
`
And from Karaf I

[2017-06-20 21:20] digitaldan commented on #26
Without specifying the bridge when creating a thing, my things, at least in the PaperUI did not contain the bridge id.  Also I just checked the Hue binding, it also creates the thing with

`ThingUID(thingTypeUID, bridgeUID, light.getId());`

and then returns the result  with

`DiscoveryResult discoveryResult = DiscoveryResultBuilder.create(thingUID).withThingType(thingTypeUID)

[2017-06-21 21:13] craigham commented on #23
Guys, I'll remove this when I get back from vacation, which is the 30th.

[2017-06-21 21:37] digitaldan commented on #23
You're in Spain, no rush ;-)

[2017-06-22 10:14] boc-tothefuture commented on #28
Closed by #36

[2017-06-22 10:14] #28 closed

[2017-06-22 10:15] boc-tothefuture commented on #6
closed by #31

[2017-06-22 10:15] #6 closed

[2017-06-24 14:50] boc-tothefuture opened #39 "Remove string parsing for handler commands"
While I was implementing the audio, I was looking at the russound driver.  It appears you can do the command/channel detection without having to manually parse the channelUID as a string.  For example to get the command we do this in many of our handlers:
[code]
The channelID is then used as the command that switch on to determine what action to take.  When I looked at the russound driver, they us

[2017-06-24 14:52] boc-tothefuture opened #40 "Prepare for PR into Master"
With the addition of the audio zone controls, I have what I need to stop using the V1 driver and use this for control of our system.
I am opening this issue so we can track what we need to do to prepare a PR to merge this into the 2.1 branch for release with the next version of OpenHab.

Items that I know are missing:

- [ ] Documentation

[2017-06-24 14:55] craigham commented on #39
Another nice catch @boc-tothefuture .  I've been contributing to that binding as well, though that use of the API was not mine, I should have picked up on it...just a little embarrassing....

[2017-06-24 15:45] boc-tothefuture commented on #39
Shouldn't be embarrassing, that is the benefit of multiple people working on a code base.  :-)

[2017-06-24 15:48] digitaldan commented on #40
If no one else has one, i can check in the initial README

[2017-06-24 15:54] boc-tothefuture commented on #40
@digitaldan - Sounds good to me.  I don't have one.  I was wondering if we could try and recruit someone from the forum who isn't a developer but wants to use the driver.  They could help via documentation.  But if you have a first pass, go for it!

[2017-06-24 17:11] digitaldan commented on #40
Just checked in a README we can start working on.

[2017-06-25 02:40] mitchmitchell commented on #8
restored an image to RPi with openhab2 and am trying to load a build from a clone of the repository, I'll let you know what I see happening.

[2017-06-25 10:53] boc-tothefuture opened #44 "Multiple omnilink calls per handler"
@digitaldan and @craigham I don't know if this is actually a *problem* but it has a bad smell and on large systems might be bad.
In our handlers, every time we link a channel we poll for an update.  So for example, in my thermostat I am requesting thermostat status over and over again.  Here is the log snippet:
[code]
That seems excessive, is this the right way for us to handle this?

[2017-06-25 10:58] craigham commented on #44
Yes, I've been troubled by that as well.  I've seen in another binding where the status would be cached for some period of time to reduce the chsttiness.  There is actually a class in the codebase I snagged from that other place called CacheHolder which can perform the duty.  It uses non-blocking so we could modify that a little.

I suppose it comes down to whether we are willing to add some compl

[2017-06-25 12:13] boc-tothefuture commented on #44
@craigham -
  I didn't look at CacheHolder so feel free to provide a counter proposal.

  I am a guava fan and since we already have it in our project, I would propose we use their well tested libraries for things like this.  We can utilize the memoizeWithExpiration for this simple 'micro cache'

Cache looks like this:
[code]
Note that once openhab makes the jump to java 8, it will look much clean

[2017-06-25 13:02] boc-tothefuture opened #45 "NullPointerException when items are reloaded"
Not sure what exactly is going on, but sometimes when the items file is reloaded NPEs start on updates:
[code]
Looking at the code:
[code]
getHandler() is returning null.  Not sure the circumstances that would cause that.
But I did noticed that chandleHandlerDisposed never removes our items from the mapping.  Which might leave them in an odd state on next update if we still find them in the map?

[2017-06-25 15:14] craigham commented on #44
I like it Brian.

Are you sure we can't use java 8?  I thought I saw we can could change the
jre to 1.8 for the bindings.  The manifest may be 1.8 now.  Though I am far
from sure on this....Dan, do you know?

On Sun, Jun 25, 2017 at 2:13 PM boc-tothefuture <notifications@github.com>
wrote:

[2017-06-25 16:32] boc-tothefuture commented on #44
The issue for moving to java 8 isn't closed yet:  https://github.com/eclipse/smarthome/issues/2926
I am not sure if the 2.1 release will be in java 8 or not.
(They do require the java 8 JRE to run, but are building against 1.7 still).

[2017-06-25 17:10] digitaldan commented on #44
I'm not sure we need complicated caching.  Since we don't poll for updates we know we will always have up to date statuses, and since there is a ThingHandler for every Omni thing, can we not just store the ThermostatStatus as a local variable?  For example the ZoneHandler code would look like:
[code]
So in this case if a channel is linked before we get a ZoneStatus update, we will try and retrieve

[2017-06-25 17:29] craigham commented on #44
At first glance, that appears it would work Dan.

However, I would say that the conditional loading of the zone status does not belong in the updateChannels method.  I would suggest moving it either into the channelLinked method, or a separate method that is called from channelLinked.

I believe updateChannels should be private also.  It's not an overridden method is it?

[2017-06-25 17:36] boc-tothefuture commented on #44
Simpler is better..  Thanks for the reality check @digitaldan.  Should we be calling updateChannels from the constructor?
It wasn't clear to me exactly what state 'things' where in during construction vs. channel linked.

[2017-06-25 17:40] boc-tothefuture commented on #39
This was merged, so I am closing this issue.

[2017-06-25 17:40] #39 closed

[2017-06-25 17:40] boc-tothefuture commented on #32
This was merged, so I am closing this issue.

[2017-06-25 17:40] #32 closed

[2017-06-25 17:47] boc-tothefuture opened #46 "zones not calling channelLinked"
@digitaldan (I think you wrote the zone code? if not maybe its @craigham )-
  I am not sure if this is an actual *issue* or I just need a second set of eyes here.  I am NEVER seeing channelLinked called for zones.  I set the breakpoint, add a zone using things and items config.  It looks like this:
[code]
In items I have this
[code]
Do either of you see the same behavior?  I don't see this behavio

[2017-06-25 17:49] craigham commented on #46
@boc-tothefuture i won't be able to check before Sat.

[2017-06-25 17:50] boc-tothefuture commented on #46
No problem.  Maybe @digitaldan can validate my sanity.  :-)

[2017-06-25 23:49] digitaldan commented on #44
Thats fine, although this should be the only function that would ever call the code, and since it should be a private method ( I just typed up something as an example) , its not like other code is suppose to call it from outside the class.

If you don't have any channels, maybe there's no point?  Also there's a good chance I think that when the Thing is created our bridge may not be completely up

[2017-06-25 23:51] digitaldan commented on #46
I'll take a look, my zones all load fine, but I don't manage my Things in files, only items and sitemaps, so that might be a clue why its working different.

[2017-06-25 23:55] boc-tothefuture commented on #44
It sounds to me like we shouldn't call it from the constructor.

[2017-06-26 04:17] digitaldan commented on #44
I'm on the road starting tomorrow, if I find some time I'll try and acutally code this in the Zone Handler, unless someone beats me to it in another handler, in which case I will happily copy their pattern :-)

[2017-06-26 14:24] craigham commented on #44
Dan.  Feel free to implement however you like wrt the loading.

My suggestion was just about concern the method kind of does 2 things and a user might not expect a load based on the method name.  However it is private so just a style choice I suppose.

[2017-06-26 14:56] digitaldan commented on #44
Its a very valid concern, if I get some time today I'll try and get something pushed.

[2017-06-26 15:47] boc-tothefuture commented on #46
Took another look at this.  channelLinked is called when the item is added from the paper UI but not from a things file.  I will try and understand what could/would be different about that behavior.

[2017-06-27 02:15] boc-tothefuture commented on #46
So this works:
[code]
But adding that third element is not required for thermostats or rooms.  Still looking at why it is for zones.

[2017-06-27 02:40] boc-tothefuture commented on #46
I am going to rescind my previous comment, even with the third element in its not calling channelLinked - there was some leftover cruft from when I was messing with paperUI that was confusing me.

[2017-06-27 02:50] digitaldan commented on #46
When adding things within a bridge, should it not look like:
[code]

[2017-06-27 13:28] boc-tothefuture commented on #46
@digitaldan -
  I gave that a try, the issue still persists.

[2017-06-28 12:17] robertw opened #48 "isy: Unrecognized Device 2476st"
Hello could you add 2476st switchlink to the code many thanks

Robert

[2017-06-28 12:25] craigham commented on #48
Could you let me know what device Id is shows up as?

On Wed, Jun 28, 2017 at 2:17 PM robertw <notifications@github.com> wrote:

[2017-06-28 12:32] robertw commented on #48
02.0A

I hope that is what your looking for ........new at this game but loving
your hab link makes a front end to my isy thanks

On Wed, Jun 28, 2017 at 8:25 AM, Craig H <notifications@github.com> wrote:

--
Regards

Robert

[2017-06-28 13:37] craigham commented on #48
That'll do it. Will take me a few days to make change as I am away right
now.

On Wed, Jun 28, 2017 at 2:32 PM robertw <notifications@github.com> wrote:

[2017-06-28 14:10] digitaldan commented on #46
So strange, I'm sure there's a typo somewhere, I'll take a look at it on Thursday or Friday when I have a free moment.

[2017-06-28 14:12] boc-tothefuture commented on #46
Ok, I also opened a thread on the community forum to ask.

[2017-06-28 14:20] robertw commented on #48
Thank You Safe trip....

On Jun 28, 2017 9:37 AM, "Craig H" <notifications@github.com> wrote:

[2017-06-29 02:32] boc-tothefuture commented on #46
Ok.  So there were a couple of issues that I tracked down by stepping through the linking of objects.
The error was in the items file, I was referencing the type_id not the channel id.  I had to change it from zone_contact to contact.
This works as expected:
` Contact Zones_Garage_Door1_Status  "Status: [%s]" { channel="omnilink:zone:home:garage1:contact" } `

Closing this issue.

[2017-06-29 02:32] #46 closed

[2017-06-29 13:18] boc-tothefuture opened #50 "Place channel definitions in same file as thing definitions"
We have a separate channels.xml that defines the channel we are using for various things.  When looking through other handlers, I didn't see this method employed.
When I am working on a thing, I have to move between the two files constantly and the channels.xml is also growing to a very large length and we have comments to demarcate each section of the channels.xml with which thing it applies to.

[2017-06-29 13:22] digitaldan commented on #50
The benefit of having a separate channels file is if the various different  things share those channels.  If our things are tightly coupled to their own channels and do not share channels, then there's not much benefit.  I'm fine moving channels into the thing definition if this is the case.

[2017-06-29 13:23] boc-tothefuture commented on #50
Ah..  that makes sense.   Do we have things that share channels?  I haven't seen that yet, but also haven't looked.

[2017-06-29 15:05] boc-tothefuture commented on #7
Closed by #38

[2017-06-29 15:05] #7 closed

[2017-06-29 20:10] digitaldan commented on #50
I have not looked either, but I don't believe we do.

[2017-06-29 22:36] robertw opened #51 "isy: Not Picking up all the scenes"
I have 34 scenes in my isy it is only picking up on 12 of them I believe it is the name that is maybe causing your loop to fail not sure i have some name with, Backyard-Lighting, and some with spaces, Family Room Watch Theater, and some with Bedroom_Lamps

The Same problems seems to be with the devices as some are in folders and have the same combo of names .....

Many thanks Regards

[2017-06-30 01:00] boc-tothefuture commented on #50
Ok.  Lets see what @craigham wants to do here.. I am happy to do the PR if we all think it makes sense.

[2017-06-30 06:21] craigham commented on #51
Could you turn up the logging verbosity, in karaf: log:set TRACE
org.openhab.binding.isy

Then we should see which character is tripping it up?

I am traveling today but should be able to take a look in a little bit.

On Fri, Jun 30, 2017 at 12:36 AM robertw <notifications@github.com> wrote:

[2017-06-30 09:11] craigham commented on #50
I'm not really sure what the correct answer is here either.

One thing I was pondering is one can better override label/descriptions and have less distinct channel definitions.  I'm back from traveling late Friday, so I'll be able to poke around a little and see if I can come up with anything constructive.

If you guys want to move ahead with breaking up the channels file, I am fine with that..

[2017-07-01 01:40] boc-tothefuture opened #52 "Builds Broken"
I went to compile with maven this evening to test a fix and I received an error.  Is this related to openhab 2.1 going live?  I am not sure if there is something we have to update or if we need to merge the released 2.1 tree into our fork?  Or something is now wrong on my side only?

[code]

[2017-07-01 10:15] boc-tothefuture commented on #52
@digitaldan and @craigham  -
   When you get a chance can either of you verify you are seeing this when you build with maven?  If it is just me, I will go done a different troubleshooting steps.

[2017-07-01 10:22] craigham commented on #52
@boc-tothefuture I am getting the same errors.

I noticed 2.2 was just released for dev.  I'll see if I can get it working.

[2017-07-01 11:07] craigham commented on #52
ok, if you get latest I have brought it up to date with the latest from openhab.

the binding now builds with

mvn  install -Dreport.fail.on.error=false

the -D just let's it succeed on the code analysis tests.  Some work to do there to get code up to standards.

[2017-07-01 11:20] robertw commented on #51
sorry for the delay I am new at this do i type this at the openhab console many thanks

[2017-07-01 12:07] robertw commented on #51
[openhab 2.txt](https://github.com/QuailAutomation/openhab2-addons/files/1117042/openhab.2.txt)
got it hope this help thanks again

[2017-07-01 13:03] craigham commented on #51
at first glance I see a bug wrt 'Relay:PatioSlider_Open/Closed'.

the device number, or last field in the insteon address is going above 9
into a-e.  Code is expecting to parse to a number.

I haven't found the bug for the scenes I'll keep looking.

With the recent update to version 2.1.0 of openhab I have to do some extra
testing to get things building properly again.

thanks for the log file.

O

[2017-07-01 13:17] craigham commented on #52
I've been trying to get all up to date w 2.2 snapshot.

When I try and run discovery, I get this error, any ideas?

It seems to be getting a Message.MESG_TYPE_NEG_ACK: in the MessageFactory.fromBytes method within jomnilink.

`2017-07-01 06:13:51.313 [DEBUG] [b.o.d.OmnilinkDiscoveryService:66   ] - Starting scan
2017-07-01 06:13:51.415 [ERROR] [.o.b.o.d.ObjectPropertyRequest:61   ] - Error retriev

[2017-07-01 13:19] craigham commented on #23
removed

[2017-07-01 13:19] #23 closed

[2017-07-01 13:54] robertw commented on #51
NO thank you ..... what ever i can do to help feel free I will do my best
to help but not really savy on openhab just started to play with it

On Sat, Jul 1, 2017 at 9:04 AM, Craig H <notifications@github.com> wrote:

--
Regards

Robert

[2017-07-01 14:38] craigham opened #53 "omni: area handler question"
@digitaldan I am trying to arm my omnilink from paperui, however when I enter my 4 digit code it appears to be converting that code to a string.  Also when I attempt to set it via karaf, same issue.

**eg**
smarthome:send omnilink_area_area1_day 1111

2017-07-01 07:31:32.399 [DEBUG] [binding.omnilink.handler.AreaHandler] - Command 1111 is not valid, only DecimalTypes are accepted

Question.  Do yo

[2017-07-01 15:10] boc-tothefuture commented on #52
Must be a defect in my iterator.  I will take a look shortly.

[2017-07-01 16:53] boc-tothefuture commented on #53
@craigham  -
  I ran into this issue too.  The issue is that your items file should be of type 'Number' not type 'String' the readme had it as a String, as does the items.xml.  I have fixed this in my implementation_fixes branch that I was working on.   Since you are using paper UI you can probably fix this by changing the area_command item-type to 'Number'.  But I have not tested from paperui.

[2017-07-01 16:54] boc-tothefuture opened #54 "Checkstyle failing"
Omnilink binding is currently failing checkstyle

[2017-07-01 16:55] boc-tothefuture opened #55 "Discovery throwing exception"
@craigham reported the following exception

[code]

[2017-07-01 16:55] boc-tothefuture commented on #52
Closing this and opened two related defects:
#55  and #54

[2017-07-01 16:55] #52 closed

[2017-07-01 17:05] craigham commented on #53
@boc-tothefuture thanks for the hint.  fixed this in the channels file

[2017-07-01 17:05] #53 closed

[2017-07-01 17:09] craigham opened #56 "omni: area handler issue with manually created area...classcastexception"
When I manually create an area using paperui, the following line in handleCommand throws a classcastexception.

int areaNumber = (int) getThing().getConfiguration().get(OmnilinkBindingConstants.THING_PROPERTIES_NUMBER);

Discovery is not working for me right now, but I have a feeling when using PaperUI, a big decimal is used for the area number.  I assume discovery is setting it to int/Integer.  M

[2017-07-01 19:14] boc-tothefuture commented on #56
@craigham -
  This is fixed in my implementation_fixes branch.  I moved it to using the same method we use for all the handlers.

[2017-07-01 19:15] boc-tothefuture commented on #56
I was waiting to push my implementation fixes branch up when I was done dogfooding the new driver, but maybe since you are hitting some of the same snags I did, I should PR it now?

[2017-07-01 19:20] craigham commented on #56
ya I think we might as well PR it.

[2017-07-01 19:27] digitaldan commented on #53
I actually have this fixed ,but not checked in, as soon as I get home I
will push it
On Sat, Jul 1, 2017 at 7:38 AM Craig H <notifications@github.com> wrote:

--
Sent from my mobile.

[2017-07-01 20:04] craigham commented on #54
if you pull from latest checkstyle should not cause fail

[2017-07-01 20:08] craigham commented on #56
this is fixed.

[2017-07-01 20:08] #56 closed

[2017-07-01 20:08] craigham commented on #55
this now works.

[2017-07-01 20:08] #55 closed

[2017-07-01 20:10] craigham commented on #51
@robertw

Would you mind downloading this latest build, it has not been made available via the marketplace yet, so you'd have to drop it directly into your addons folder.

https://s3-us-west-2.amazonaws.com/craigham-pub/org.openhab.binding.isy-2.2.0-SNAPSHOT.jar

This should address that issue with discovery of your Relay:Patio...however, it will still show up as an unsupported device, just no err

[2017-07-01 20:12] craigham commented on #53
@digitaldan, @boc-tothefuture has fixed this with a PR.  There has been quite a few commits today.  Hope it doesn't cause too many conflicts...

[2017-07-01 21:00] robertw commented on #51
Will do it as soon as I get home about 40 minutes

On Jul 1, 2017 4:10 PM, "Craig H" <notifications@github.com> wrote:

[2017-07-01 21:46] robertw commented on #51
Hope this helps........

On Sat, Jul 1, 2017 at 5:00 PM, Robert Wyman <wymanrobert@gmail.com> wrote:

--
Regards

Robert

2017-07-01 21:40:51.404 [DEBUG] [org.openhab.binding.isy             ] - BundleEvent STARTING - org.openhab.binding.isy
2017-07-01 21:40:51.417 [DEBUG] [org.openhab.binding.isy             ] - BundleEvent STARTED - org.openhab.binding.isy
2017-07-01 21:40:51.484 [DEBUG] [org.op

[2017-07-01 22:13] craigham commented on #51
hmm...did you uninstall the isy binding using the marketplace binding?  I ask because that log doesn't match what I would have expected, it looks like the 2.1.0 version still.

[2017-07-01 22:15] robertw commented on #51
yes i did i will reboot and try again but the only one in the addin folder
is your new jar file back in 5

On Sat, Jul 1, 2017 at 6:13 PM, Craig H <notifications@github.com> wrote:

--
Regards

Robert

[2017-07-01 22:22] robertw commented on #51
rebooted made sure jar was in place here you go

[openhab22.txt](https://github.com/QuailAutomation/openhab2-addons/files/1117455/openhab22.txt)

[2017-07-01 22:27] craigham commented on #51
it is still finding that old jar somehow, here is the log, you can see it is finding a 2.1.0 version built June 9.

2017-07-01 22:18:53.123 [ERROR] [org.openhab.binding.isy             ] - FrameworkEvent ERROR - org.openhab.binding.isy
org.osgi.framework.BundleException: Could not resolve module: org.openhab.binding.isy [217]
  Another singleton bundle selected: osgi.identity; osgi.identity="org.o

[2017-07-01 22:28] robertw commented on #51
I del it from the system will check again

[2017-07-01 22:29] robertw commented on #51
not strong on linux what would be a search to scan the whole drive for the file

[2017-07-01 22:41] craigham commented on #51
try

find . | grep isy

this should be run from your userdata directory.  if you don't know where
that is, you could run it from /, just might take some time.

On Sat, Jul 1, 2017 at 3:29 PM, robertw <notifications@github.com> wrote:

[2017-07-01 22:51] robertw commented on #51
I del the jar and the temp and it still running crazy

[2017-07-01 23:12] robertw commented on #51
Ok it was the market now i was able to clear things out but still working on the jar to load since I uninstalled the market and had to force the bundle out from the console open had does not see the jar in the addons folder grrrrr

[2017-07-01 23:25] robertw commented on #51
any thoughts i del all isy from the system things and inbo seems like it trying to load but fails for ?

2017-07-01 23:21:22.700 [INFO ] [el.core.internal.ModelRepositoryImpl] - Validation issues found in configuration model 'ecobee.rules', using it anyway:
The use of wildcard imports is deprecated.
2017-07-01 23:21:22.706 [INFO ] [el.core.internal.ModelRepositoryImpl] - Loading model 'ecobee.rule

[2017-07-02 00:21] craigham commented on #51
hold off.  I'll do some more testing here.  want to make sure I'm not
wasting your time with a bug.

On Sat, Jul 1, 2017 at 4:25 PM, robertw <notifications@github.com> wrote:

[2017-07-02 11:36] craigham commented on #51
Ok, could you try this latest build.  I believe I fixed the issue.

https://s3-us-west-2.amazonaws.com/craigham-pub/org.openhab.binding.isy-2.2.0-SNAPSHOT.jar

thanks

On Sat, Jul 1, 2017 at 5:20 PM, Craig Hamilton <craigh@quailholdings.com>
wrote:

[2017-07-02 11:55] robertw commented on #51
Good morning:
2017-07-02 11:52:23.977 [INFO ] [.dashboard.internal.DashboardService] - Started dashboard at http://192.168.1.149:8080
2017-07-02 11:52:23.985 [INFO ] [.dashboard.internal.DashboardService] - Started dashboard at https://192.168.1.149:8443
2017-07-02 11:52:24.040 [INFO ] [thome.core.internal.I18nProviderImpl] - Locale set to en, Location set to 26.3683,-80.1289
2017-07-02 11:52:31.4

[2017-07-02 12:07] robertw commented on #51
Just for the fun of it I reinstalled the market and the weather and they are running fine but isy will not load
2017-07-02 12:06:11.254 [INFO ] [thome.core.internal.I18nProviderImpl] - Locale set to en, Location set to 26.3683,-80.1289
2017-07-02 12:06:11.254 [INFO ] [.dashboard.internal.DashboardService] - Started dashboard at http://192.168.1.149:8080
2017-07-02 12:06:11.563 [INFO ] [.dashboard.

[2017-07-02 13:31] craigham commented on #51
good morning Robert.

Could you try the latest it should get rid of the dependency issue....still
download the jar and place in your addons folder.

thanks

On Sun, Jul 2, 2017 at 4:55 AM, robertw <notifications@github.com> wrote:

[2017-07-02 13:45] robertw commented on #51
good morning:
[openhab23.txt](https://github.com/QuailAutomation/openhab2-addons/files/1117813/openhab23.txt)

hung up on initializing

[2017-07-02 20:05] digitaldan commented on #53
Not a problem at all.

[2017-07-03 01:38] boc-tothefuture commented on #54
confirm this is resolved.

[2017-07-03 01:38] #54 closed

[2017-07-03 13:05] craigham commented on #51
Hi Robert,

I am really hoping the latest build stops the hanging.  I apologize I don't have my isy on hand right now to confirm.

[2017-07-03 13:10] robertw commented on #51
No apology please at all your effort is truly commendable will get back in about 10 min

[2017-07-03 13:21] robertw commented on #51
Ok here you go the status in the paper ui still says   initializing for the access pint but i was able to run discovery none the less here is the log but from the count still missing a bunch of scenes and devices
[openhab23.txt](https://github.com/QuailAutomation/openhab2-addons/files/1119643/openhab23.txt)
[openhab23.txt](https://github.com/QuailAutomation/openhab2-addons/files/1119645/openhab23.

[2017-07-03 15:44] boc-tothefuture opened #60 "Inconsistent channel names (Units vs. Rest)"
In our other thing definitions we use snake case to separate words.  For example:

[code]

However, in units we switch to smush case
[code]
I think that should become 'scene_a'

I am happy to make the change if we agree.

[2017-07-03 16:06] robertw commented on #51
here is the return file from my isy if it help of my scenes
http://XXX.XXXX.1.XX/rest/nodes/scenes

[scenes.zip](https://github.com/QuailAutomation/openhab2-addons/files/1120079/scenes.zip)

[2017-07-03 17:23] craigham commented on #60
sounds good to me.

[2017-07-03 23:47] #60 closed

[2017-07-03 23:48] craigham opened #62 "omni: consoles not discovered"
the generateConsoles has been commented out, with a comment saying it throws an error.

I enabled the call again to try it, and indeed it does throw an error.

[2017-07-04 00:36] swamiller opened #63 "Omnilink Lock Support"
Add the ability to control door locks (Access Control in HAI/PC Access terms).

[2017-07-04 02:51] swamiller opened #64 "Readme area-modes.map"
Update the readme with the area-modes map

[2017-07-04 15:39] craigham opened #65 "rnet: add turn on volume get functionality"
when linked, startup, retrieve the turn on volume

[2017-07-05 16:55] digitaldan commented on #62
So, the docs implies this should work, but of course it does not.  This weekend I fired up the HAI PC Access program, interesting enough, unlike the other "objects",  it shows four default consoles to configure ( I only have one).  This is the max number for the LTe board.  So I think either users will have to add these manually or we sudo auto discover the max number of consoles for the type of s

[2017-07-05 18:49] swamiller commented on #62
For the record, the Console Beep functionality that now shows up in the Paper UI does turn the beep on and off but doesn't effect the number of beeps as the drop down implies.  0 is off, any other number is on (single beep).

[2017-07-05 21:39] robertw commented on #51
UNINITIALIZED - BRIDGE_UNINITIALIZED Status: UNINITIALIZED - HANDLER_INITIALIZING_ERROR ClassCastException: attempting to castbundleresource://22.fwk20031380/javax/ws/rs/client/ClientBuilder.class to bundleresource://22.fwk20031380/javax/ws/rs/client/ClientBuilder.class

[2017-07-06 15:20] boc-tothefuture commented on #62
Following up on what @digitaldan said.  I took a look at the protocol docs... And the docs indicate you can request console object properties, but the docs I have do not define a response describing the console properties. I am guessing its not actually implemented?

Do we want to remove the commented out code and close this issue?

[2017-07-06 17:07] digitaldan commented on #62
Thats my guess as well, so for consoles, do we make this a manual configuration only?  Or do we add the max number of consoles the system supports (kinda what PC access does) during discovery?  I'm ok with with manual adding.

[2017-07-06 17:35] craigham commented on #62
I agree with manual.

[2017-07-06 19:40] boc-tothefuture commented on #62
Manual is good.  I have removed the generateConsoles from my implementation_fixes branch.  So, we can close this once I PR that.

[2017-07-06 19:42] digitaldan commented on #62
Sounds good, I actually have a PR open to remove them, but I can close it if thats easier.

[2017-07-06 19:44] boc-tothefuture commented on #62
Nope, leave it.  I can just merge yours in once it goes into this branch.  Then we can clear this item quicker.

[2017-07-06 21:07] boc-tothefuture opened #68 "UPB Switch Support"
@craigham and @digitaldan need your opinion here:
I think we have to modify our upb support in the binding to properly support UPB switches (on/off) type.  We have a channel defined that I think does what we want:

[code]
But we don't use it in our thing definition.
Without this you don't really get proper status in the item label and from what I can tell it doesn't toggle the on/off icon appropri

[2017-07-06 21:15] boc-tothefuture commented on #68
closing..  I just had the wrong type in my items file...

[2017-07-06 21:15] #68 closed

[2017-07-07 00:56] boc-tothefuture commented on #45
@craigham and @digitaldan -
  Are you seeing this as well?  I essentially get into a state where all updates stop and I get nothing but NPEs:
[code]
A restart resolves it.

[2017-07-07 03:04] digitaldan commented on #45
I have not, but it would seem the handler for the thing is null, not sure why that would be, is there any other logs about the binding unloading or restarting?

[2017-07-07 03:14] digitaldan commented on #45
Sorry, I did not read your original post, but I think thats exactly it, we have old things in the maps.

I actually did not notice we were caching the Things in maps,  I don't think this is necessary,  we can look up child things directly on the bridge with `getThingByUID` and not do any other caching

[2017-07-07 15:21] boc-tothefuture commented on #62
@craigham I think this can be closed now with #67 merged.

[2017-07-07 15:26] #62 closed

[2017-07-07 15:28] craigham commented on #50
@boc-tothefuture @digitaldan You guys think we can close this issue?  Seems like we didn't devise a better solution than where it is now, so we'll stick with what we have?

[2017-07-07 15:52] boc-tothefuture commented on #50
I was leaning towards a PR to break them up into the individual thing files because there was no overlap.  And I know, I have a lot of trouble going back and forth when I am doing something to map the two of them, then find the right section in the channels.xml

[2017-07-07 16:32] craigham commented on #50
ok, I have no problem with you doing a PR

[2017-07-07 16:40] boc-tothefuture opened #70 "Status no longer updates with custom UID names."
After merging #69 status is no longer updated on my system.

#69 makes an assumption about the UID (namely that its an automatically assigned number from paperUI).  This breaks a system where the UID is assigned manually and doesn't match (such as when defining things yourself).

I will take a look at this later tonight to see if there is a way to remove the caching (and the complexities it brings

[2017-07-07 16:56] craigham commented on #70
I have seen this as well.  It appears to me that we will have to force a Id format if we want to look up child things as we have now.

I was looking at how other bindings handle this haven't found anything definitive yet.

[2017-07-07 17:01] boc-tothefuture commented on #70
I think we *should* be able to do it without forcing a format.  We can iterate over the things registered to the bridge and match them based on the number of the thing itself (it should be a property of the thing)..
I haven't had a chance to implement it, and probably wont until tonight.. But it should work if I understand this correctly.
It will be O(n) which is a bit appalling - but.. amazing, g

[2017-07-07 17:04] craigham commented on #70
didn't dig in to see getThingbyUID is O(n), that is surprsing.  I suppose iterating all the time won't be an issue for most users for this binding...

[2017-07-07 17:05] boc-tothefuture commented on #70
Yeah.. I am kind of shocked..  but here is the code:
[code]

[2017-07-07 17:06] craigham commented on #70
and I do like not forcing a format as well.  If the user is going to create things themselves it is nice to have meaningful uids for rules, etc.

[2017-07-07 23:44] digitaldan commented on #70
Can you give me an example of a custom thing name?

[2017-07-07 23:47] boc-tothefuture commented on #70
Sure.  Here is my thermostat definition in my things file:

[code]

[2017-07-07 23:51] craigham commented on #70
@boc-tothefuture

I think your file is actually a little offside with respect to the specified syntax as described here:
http://docs.openhab.org/configuration/things.html

It should follow this:
`Thing <binding_id>:<type_id>:<thing_id> "Label" @ "Location" [ <parameters> ]`

However, I see no reason why you couldn't have
 Thing omnilink:thermostat:downstairs "Downstairs Thermostat" @ "Foyer" [ num

[2017-07-07 23:56] digitaldan commented on #70
i see, so your thing ID  is not the number but a specified name. @boc-tothefuture I'm assuming this is inside a bridge definition  block?

[2017-07-08 00:05] boc-tothefuture commented on #70
@craigham Yeah, it is confusing because once you are inside a bridge block the format can change.  See this thread here:  https://community.openhab.org/t/current-and-correct-documentation-of-syntax-for-things-and-items-needed/24864

@digitaldan - Yeah, because I wasn't auto generated with paperUI I just named my things names that represented  them.

I should probably get over it and move to paperU

[2017-07-08 00:14] craigham commented on #70
I don't think it is even about using PaperUI.  If a user manually creates a zone or console, etc, it is pre-populated with a seemingly random meaningless string.  It was just our discovery that is using the # for the thing id.

[2017-07-08 00:43] digitaldan commented on #70
Yep, we need to support custom names, i just knew that was to easy of a fix :-)  @boc-tothefuture I'll take a look at #71

[2017-07-08 01:13] #70 closed

[2017-07-08 02:28] boc-tothefuture opened #73 "Flags are not set to 'on' or 'off' when updated via the switch channel."
The current implementation doesn't turn a flag on or off correctly when updated via the switch channel.  Presently the binding sets the flag counter value.  This prevents rules on the omni from triggering correctly using the when conditions associated with flags.

[2017-07-08 02:55] boc-tothefuture opened #75 "Support Unit/Output/Flag timers."
Presently we don't (at least that I see) have support for turning and omni unit type (flag, output, light, etc) on/off for a duration.  This is supported by the API for omni - but not represented in the binding.

There are some advantages to using this method (in certain cases) vs. just using timers in openhab.

The API is a bit weird (go figure), so its unclear to me what the channel definition s

[2017-07-08 03:03] boc-tothefuture commented on #45
Closing.  I believe this is resolved by #69 and #70

[2017-07-08 03:03] #45 closed

[2017-07-08 03:12] boc-tothefuture commented on #63
Looked at the API.  This looks like it is possible.

[2017-07-08 03:13] boc-tothefuture commented on #26
@digitaldan is this still valid?  Or has this been merged in?

[2017-07-08 04:03] #73 closed

[2017-07-08 05:10] digitaldan commented on #75
I'm not sure there is a better way.  The APi as you say is weird :-)

[2017-07-09 14:56] boc-tothefuture opened #78 "Flags are no longer updated."
Flags are no longer updated after merging #69

[2017-07-09 15:33] boc-tothefuture commented on #78
Fixed by #79

[2017-07-09 15:33] #78 closed

[2017-07-09 15:50] boc-tothefuture opened #80 "Alarm State Rules Triggered on entryDelay"
We receive a state update from the omni when a perimeter zone  is opened.  The state is the same state we were in before (away/vacation, etc) but it now has an entryTimer field set to a non-zero value.

This causes an issue w/ rules that are based on the omni state.   For example:
[code]
We don't expose the exitDelay or entryDelay so uses can't write rules around them..  In my opinion the alarm st

[2017-07-09 18:24] digitaldan commented on #80
Hmm, I did not know that

So this can be handled a few ways.  The first is in your rule, you are triggering on
[code]

If you instead used
[code]

You can also get the previous value in rules if you wanted to compare current with last value.

We could also drop updates on the floor, in this case we would need to keep a local version up the zone status object to compare against.

I think it could b

[2017-07-09 18:46] boc-tothefuture commented on #80
I didn't think about changed instead of update..  that is maybe a better solution for this particular problem?

Although, not sure we should send an update when the value doesn't change? What is normal in OpenHAB?

I am not sure there is a need to store the last value.  I had to implement this before I got your response.  It seems to work as I would expect with just dropping any status that has an

[2017-07-11 01:15] digitaldan commented on #80
Well the harm in sending updates frequently is you end up generating unwanted noise, for the system and clients connected to rest endpoints. So you want to avoid frequent updates if nothing has changed.  Infrequent updates when nothing has changed is normal behavior. Think about code that eventually invalidates its cache after x amount of time, so rules do need to be specific to updates vs changes

[2017-07-13 19:46] craigham commented on #51
Ok, I just uploaded the latest 2.2 build and it seems to work, at least I don't get any of those exceptions.

Could you try deleting your userdata directory and load the latest jar for 2.2 from s3?

thanks

[2017-07-13 20:06] robertw commented on #51
Back in 40 where is the userdata in the tree just to be clear

On Jul 13, 2017 3:46 PM, "Craig H" <notifications@github.com> wrote:

[2017-07-13 20:25] craigham commented on #51
Kind of depends how/where you installed openhab.  The log file is in
userdata/logs for reference.

On Thu, Jul 13, 2017 at 1:06 PM robertw <notifications@github.com> wrote:

[2017-07-13 20:41] robertw commented on #51
here you go

[openhab.txt](https://github.com/QuailAutomation/openhab2-addons/files/1146597/openhab.txt)

[2017-07-13 21:00] robertw commented on #51
From what little i know the line:
still did not see all the scenes
2017-07-13 20:35:09.173 [DEBUG] [b.binding.isy.internal.IsyRestClient] - Number scenes found from rest call: 10

should be 35

[2017-07-14 14:03] robertw opened #81 "Isy: Can not add scene manually through paperui or HabMin"
Hi Craig

I tried adding a scene from the isy filled in all the ares and linked as per required but scene does not respond I believe it is the id of the control thing is not being populated properly since when i look at the note export the controller id that is installed does not come up ......It is some random ID

Regards

Robert

[2017-07-14 14:58] robertw commented on #51
Did a little more digging looks like it is  counting the group flag = 132 but there group flag 4 and 12
returned by  http://xxx.xxx.1.11/rest/nodes/scenes

[2017-07-14 16:42] craigham commented on #51
yes, you are right.  I will get it so it doesn't care about flag value.

[2017-07-14 17:46] craigham commented on #51
could you try the latest and let me know if it works for you?

[2017-07-14 18:30] robertw commented on #16
Just my 2 cents I would keep it simple scene on and off most of the time scenes are called from programs maybe a function called reset scene bring it back to the scene state would be all need .......

[2017-07-14 18:53] robertw commented on #51
Worked great! Many thanks in deed......log file looks clean also......

[2017-07-14 18:53] #51 closed

[2017-07-18 05:07] craigham commented on #8
Hi Robert,

I've been able to make some improvements (I hope) to the binding.  When you get a chance could you try this latest version, it has a new filename I believe since last time.

https://s3-us-west-2.amazonaws.com/craigham-pub/org.openhab.binding.isy-2.2.0-SNAPSHOT.jar

thanks,
Craig

[2017-07-18 11:44] robertw commented on #8
Good Morning ...

Here is the log file looks clean what am I looking for? still a number of isy:unrecognized

Also one big request scenes could you make them respond if isy turns the whole scene of or on I know you dealing if only part worked but it would be nice if we could keep it simple for now and just monitored if they are on or off

many thanks

Robert....

[2017-07-19 00:21] craigham commented on #16
I think @ve7gel is talking about something different than you guys and scenes.

@ve7gel If I am not mistaken, when you press a paddle on one of your switches which are part of a 3-way like setup, the other switches should change to reflect the state of the load.  Could you click one of the buttons again, and send me the event.log portion?

[2017-07-19 00:23] craigham commented on #16
As for 'Scenes' within the ISY, I don't see how we can track their state.  As far as I know there are no messages sent by the Isy which are related to scenes.  It just sends out the state changes of the various responders to the scene.  I think from within openhab the best we can do is either toggle on or toggle off a scene.  That really is all that is supported within Isy too.  Unless I am mistak

[2017-07-19 00:24] craigham commented on #81
I'll look into this.

[2017-07-19 00:25] craigham commented on #48
this should now be present in the latest build, 2.2.  I am going to update the marketplace plugin to point to this latest version.

[2017-07-19 00:30] craigham commented on #8
Robert,

Not what do you mean make them respond?   Problem as I see it is when a scene is invoked within the Isy, the only thing sent to openhab via the event subscription channel are updates to the responders within the scene (i.e. lights). There is no real way to know that a scene was invoked....unless I am missing something.

[2017-07-19 01:23] ve7gel commented on #16
Hi Craig, yes, the other switches should reflect the state of the one that was activated.   I'll send you the  log but it probably won't be until Thursday as I'm away from home at the moment.

[2017-07-19 13:27] robertw commented on #8
ok so here is a thought how about using a program as the switch for the scene since programs send a true or false thus allowing it to respond to a scene this way we can setup the scene on a prgram in isy and control the state

Regards

[2017-07-19 22:59] boc-tothefuture opened #82 "User codes should be of type string."
Summary from code comments:

@digitaldan -
I meant to open an issue on this for discussion, but I forgot. It started out that the item type was of type Decimal, which was causing the code to fail. I accepted the thing type as canonical, so, I changed the code to match the thing type. However, once I got later into the code it became clear that because leading zeros are valid in a code, its really

[2017-07-20 02:39] digitaldan commented on #82
Well, since we are both in complete agreement, this is a easy one to fix :-)   I will submit a PR to fix shortly.

[2017-07-20 03:16] craigham commented on #82
just merged PR, closing

[2017-07-20 03:16] #82 closed

[2017-07-20 03:18] craigham commented on #75
@boc-tothefuture those channels are what I was thinking as I was reading your comments.  Seems like a reasonable starting point.

[2017-07-20 03:19] craigham commented on #50
@boc-tothefuture this can be closed, correct?  This happened while I was in Spain so I just want to make sure I'm up with the state of things.

[2017-07-20 09:55] boc-tothefuture commented on #50
@craigham yep!

[2017-07-20 09:55] #50 closed

[2017-07-20 23:49] ve7gel commented on #16
Hi Craig, here is the capture from the events.log for one of the 3-way switch groups.  Not sure there's much you can do with it since there's no indication they are members of a scene.

Thanks,
Gordon

`2017-07-20 15:21:00.806 [ItemStateChangedEvent     ] - isy_switch_f75c62c0_2A_43_C3_paddleaction changed from DOF to DON
2017-07-20 15:21:00.922 [ItemStateChangedEvent     ] - isy_switch_f75c62c0_2

[2017-07-26 00:26] boc-tothefuture commented on #44
I will finish converting the remainder of these over to @digitaldan's method once we merge the changes in jomnilink to make all the messages immutable.  That PR is currently waiting review.

[2017-07-26 00:26] boc-tothefuture commented on #20
@craigham and @digitaldan what is the status on this issue?

[2017-07-26 00:27] boc-tothefuture commented on #64
@swamiller do you have an example of what should be in the readme?

[2017-07-26 20:27] digitaldan commented on #64
this is the item and map I use.
[code]

[code]

[2017-07-26 20:37] digitaldan commented on #20
So I have this PR https://github.com/digitaldan/jomnilink/pull/13  which implements the system event notifications and then this branch https://github.com/digitaldan/openhab2-addons/tree/omni-system-events which implements those into trigger channels.

The good news is that the button trigger events work great. So this issue will be closed when I submit the PR and we merge it.

The bad news is tha

[2017-07-27 21:36] swamiller commented on #64
@digitaldan, that answers my question.  The current demo.items file in the readme references your .map file.
Also, I read in a few of the issue updates about the ability to use user codes to arm/disarm.  Instructions for this functionality would be helpful since it's new to this version of the binding.

[2017-07-28 20:51] robertw commented on #48
Working super thanks

[2017-07-28 20:51] #48 closed

[2017-07-30 23:16] randye007 opened #84 "[omnilink] 2.2.0 binding not working in OpenHAB 2.1"
## Expected Behavior
Copy omnilink 2.2.0 binding into the addons directory, copy the openhab.cfg file from openHAB 1.x to the services directory and start OpenHAB 2.1
Looking at the logs, openHAB should successfully log into the OMNI Panel and start reading data.
Note: I got this to work in OpenHAB 2.0.

## Current Behavior
I get the following logs at DEBUG:

2017-07-30 12:00:45.800 [INFO ] [org.a

[2017-07-31 03:08] swamiller opened #85 "Alarm Channels"
Setting up my .items file, I noticed alarm modes have been separated into individual channels.  Since you can only select one alarm mode setting at a time, what was the thought behind making each setting its own channel?  Seems more intuitive for there to be one alarm channel with modes to be selected.

[2017-07-31 03:09] swamiller commented on #84
Have you tried using the Market Place version of the binding?

[2017-07-31 09:52] randye007 commented on #84
I've looked on The Cloudbees repo but couldn't find it there. Where can I find the Market Place version? Thx - Randy

[2017-07-31 13:14] jacksteraz commented on #84
[https://marketplace.eclipse.org/content/omnilink-binding](url)

[2017-07-31 13:41] swamiller commented on #84
I would recommend using the Paper UI to set up the market.

Go to Add-ons > MISC > and install the IoT Market binding.  You will then sees the omnilink binding show up in the BINDINGS category in the the Add-ons directory.

Remove any other versions from your addon folder before installing the market version.

[2017-07-31 14:57] craigham commented on #85
there is no mechanism for passing in both a 'mode' and security code to a channel, i.e. can't have more than one parameter (command) sent for a channel.

therefore each of those channels is for setting a particular mode.  the user/openhab has to pass in the security code desired to try change the security mode.  Imo it does match the interface you see on the wall units, both keypad and touchscreen

[2017-07-31 15:00] swamiller commented on #85
Does selecting a different mode "unselect" the current mode?

[2017-07-31 15:05] craigham commented on #85
the mode channel is the only channel which reflects the current mode.  each of those other channels are 'action' channels so to speak.  after they have been sent the command with the user code, they reset back to None for state.  they really don't hold state.

[2017-07-31 15:11] craigham opened #86 "omnilink - area channel definitions"
@digitaldan @boc-tothefuture I was just looking at the areas thing def, and was wondering if it would make sense to define the alarm channels more as the arming channels are.  i.e. just override the label/description and use 1 channel instead of a channel for each type of alarm.

After defining both ways do you have a preference?

[2017-07-31 15:23] digitaldan commented on #86
The system can be in more then one alarm, so for instance both fire and burglary, so I think they need to be separate channels.

[2017-07-31 15:28] boc-tothefuture commented on #86
Well, that is a pretty bad day.

[2017-07-31 15:48] craigham commented on #86
That is a pretty sad day.  Recently we've had a bunch of wildfire evacuations up here in BC, and why of course there has been looting.

I didn't mean consolidate the channels....I meant consolidate the channel definitions.

`<channel id="day" typeId="area_command">
				<label>Arm Day Command</label>
				<description>Send a 4 digit user code to arm the system to day</description>
			</channel>
			<

[2017-07-31 17:44] digitaldan commented on #86
Ah, yes that does make sense.  I think that sounds like a good plan.

[2017-08-01 01:09] randye007 commented on #84
Thanks @swamiller. It's all up and running now.
I have to get use to using PaperUI.
Am I correct in saying there is no support for the Security Status yet?

Thanks,
  Randy

[2017-08-01 02:34] craigham commented on #84
@randye007 you should be able to see the security status using the mode channel on the area.

[2017-08-01 02:44] craigham opened #87 "omnilink: check style fail"
@boc-tothefuture  @digitaldan for some reason my auto build is now failing because of the check style tests.  It is asking for @author for most of the classes.  There is definitely documentation work to be tackled, but do you guys have an issue if I go through all the violations and add the @author tag so I can get it building again, it will have my name....Feel free to change that when/if you doc

[2017-08-01 09:41] boc-tothefuture commented on #87
Sounds good.

[2017-08-01 11:22] randye007 commented on #84
Thanks @craigham!
One last question, have you had issues with using the Security mode values and transform mapping files?
For the life of me, I can't seem to get the numeric value received from the OMNI Panel to convert to a String via the transform file. However, it works for my OMNIStat.

I'll close this issue.

Thanks,
  Randy

[2017-08-01 14:20] craigham commented on #84
@randye007 sadly I haven't had much time to create user interfaces.  so far I've been occupied trying to get the various bindings I need working.  If you look on the community forums there should be lots of folks who can help.

[2017-08-01 14:20] #84 closed

[2017-08-05 13:22] robertw opened #88 "Isy Elk Import"
Hey Craig I was wondering if you include the discovery of ELk ......I believe the elk support is already in https://github.com/PlanetJ/openhab2-addons/tree/isy/addons/binding/org.openhab.binding.isy

I chatted abit with him and he is not using openhab any longer at this point and I can not sort out how to strip out the elk portion and make a binding just for elk and isy so I bow to you maybe you c

[2017-08-05 14:45] robertw opened #89 "Isy Programs Channel Control Not working In paperui"
Try to work with programs for ISY I was noticing that programs have a Channel called control with type of switch

I selected it in paper and does not seem to function I was hoping (or does it run the then when on and the else when off)?

Thanks

[2017-08-05 18:57] craigham commented on #88
Hi Robert.

I do not have Elk for my Isy.  Another issue is I am not at my house right now that runs on my Isy.  So realistically we will need someone else to step up and contribute the Elk code.

[2017-08-05 19:23] robertw commented on #88
Hi Craig what I was referring to is that ISY has elk support and the above binding supports it but he no longer wants to use openhab I was wondering if the code in his plugin could be utilized with your ISY plugin as far as elk through ISY I believe you scan the devices already and elk comes up but you ignore them at this point in time . My system is your if need and I would do what I can as I am

[2017-08-05 19:26] craigham commented on #88
I have looked at that code before as well.  It's not that adding support is undoable, but I just don't know that I'll be able to make enough time, considering the testing is quite a bit more difficult for me when I don't have my Isy on my network.  I am trying to get a VPN setup with the house which has the ISY, so that could change things.

I'm also fairly busy working on a couple other bindings

[2017-08-05 19:28] robertw commented on #88
Thanks so very much.......If you need to I can allow you to use my system as I have elk running ... thank you for your consideration.

[2017-08-05 21:20] craigham commented on #89
Ok control channel should now be working.

You can now set a string to pass in.  It should be the clause of the program you intend to execute.

eg.

runIf
runThen
runElse

[2017-08-05 22:40] robertw commented on #89
Sweet..... thank you....

[2017-08-05 22:40] #89 closed

[2017-08-12 15:19] swamiller opened #91 "Thermostat Values"
Current thermostat values appear mis-mapped (using Paper UI):

- "Outdoor Temp" should be "Dehumidify"
- "Humidity" value shows "-40", not sure what value it should be showing
- "Hum Setpoint" should be thermostat measured "Humidity" (make read only)
- "Dehumidity setpoint" should be "Humidity setpoint"
- "Temperature" should be read only - .xml file shows it is read only but it's adjustable in Pa

[2017-08-13 00:11] swamiller opened #92 "UPB Unit Types"
I have several UPB units that are controlling electric motors or non-dimmable lights.  Currently the binding makes all UPB units channel type "level".  I tried overriding in my .items file to a "switch" type channel but the binding still recognizes as a "level" type unit.

Default:
[code]

Tested:
[code]

[2017-08-14 02:52] craigham commented on #92
@digitaldan, @boc-tothefuture Do you think we should add a switch channel to Upb Units which could be used for these non-dimming switches?  If I remember correctly we could mark as Advanced, and then it doesn't automatically get linked to an item when simple linking is turned on.

Any other idea?  I do work on an Isy binding, and that returns model numbers of each of the switches so I can tell the

[2017-08-14 03:05] swamiller commented on #92
Is there a programatic reason the omnilink channels have to have a "type" definition in the channel?  Meaning, the beginning of the item says what type you want then the channel has it declared again.

Any way to let the initial declaration determine the channel type?

[2017-08-15 18:21] digitaldan commented on #92
the level channel is a Dimmer item type, Dimmers accept both ON/OFF as well as Percent commands so they can operate as both a Switch and a Dimmer.   You should be able to map both a Switch and Dimmer item to this channel.  The Unit/UPB handler needs to accept both types (Percent/ ON_OFF) in the handleCommand method, I just looked at the code and it looks like it it only accepting PercentType, so t

[2017-08-16 15:24] digitaldan commented on #92
Btw I was incorrect , upb handler is accepting on/off types ( sorry I missed the map lookup) .  So maybe I am not understanding the issue here?

[2017-08-16 15:32] robertw opened #93 "Error in log file often Isy 2.2"
Hi Craig :

Here is the log with the error it seems to recover but it does happen when heavy usage of the binding..

 2017-08-16 15:28:39.067 [DEBUG] [sy.internal.IsyWebSocketSubscription] - Node 'n/a' got control message '_1' action '0'

2017-08-16 15:28:39.069 [TRACE] [sy.internal.IsyWebSocketSubscription] - Parsing message: [<?xml version="1.0"?><Event seqnum="338" sid="uuid:158"><control>_1</c

[2017-08-16 15:34] digitaldan commented on #92
@craigham regarding adding another channel for switch, What would be the benefit over the dimmer type channel?  It's too bad we don't get back more info about the type of upb device

[2017-08-16 16:02] boc-tothefuture commented on #92
I have been using UPB switches in my setup without issue:

Thing definition:
`Thing upb master_bedroom_brian_lamp "Master Bedroom Brian's Lamp" @ "Master Bedroom" [number=83]`

Item:
`Switch Lights_Master_Brian_Lamp "Master Bedroom Brian's Lamp [%s]" { channel="omnilink:upb:home:master_bedroom_brian_lamp:level" }`

Sitemap:
`Switch item=Lights_Master_Brian_Lamp label="Brian's Lamp [%s]" icon="ligh

[2017-08-17 00:04] swamiller commented on #92
This unit isn't a typical unit (like a light switch).  I'm controlling my pool pump using a Simply Automated UMI-32 I/O module.  The module has the ability to send a momentary contact to my pool pump controller which simulates pushing the pump button. The I/O module also has a voltage sense that sends back a UPB "link" to my omnipro confirming there is power to the relay and the pump is actually o

[2017-08-17 00:37] boc-tothefuture commented on #92
@swamiller - your item definitions looks ok to me.   If you turn on debug mode what do you see happens when you turn the switch on in openhab2?

[2017-08-17 01:22] swamiller commented on #92
Ok, more to the story...nothing bad in the log and I was able to make the pump come on. But the fact the only option in the PaperUI is a slider (versus a switch) the control was sporadic.  Moving the slider on to the far right setting (100) made the pump come on then turn off.  Sliding back down to zero would turn the pump off some of the time. Sliding back to 100 (or anything in between) will som

[2017-08-17 01:24] boc-tothefuture commented on #92
@swamiller - Ok, so its really a paperUI issue.
Hmm. I don't use paperUI. I use a sitemap and set it to type 'switch' rather than type 'dimmer'.  Maybe @digitaldan or @craigham have some ideas on how to handle this in paperUI.

[2017-08-19 18:49] craigham commented on #93
@robertw The latest build should address the error.

[2017-08-19 18:50] robertw commented on #93
Thank you will give it a try

[2017-08-23 12:53] robertw commented on #93
the binding still shows version  1 how can i be sure the market version is the most current....

error on restart :Isy
           2017-08-23 12:49:25.117 [ERROR] [ome.core.thing.link.ThingLinkManager] - Exception occurred while informing handler: null

java.lang.NullPointerException: null

	at org.openhab.binding.isy.handler.IsyDeviceHandler.handleCommand(IsyDeviceHandler.java:105) [225:org.openha

[2017-08-23 13:22] robertw commented on #93
additional errors
==> /var/log/openhab2/openhab.log <==

2017-08-23 13:19:28.743 [ERROR] [sy.internal.IsyWebSocketSubscription] - Error parsing message [<?xml version="1.0"?><Event seqnum="496" sid="uuid:32"><control>_1</control><action>3</action><node></node><eventInfo>[ELK 1   0  0] Area : Isa&Robert House : Ready To Arm (2/1/0)</eventInfo></Event>]

2017-08-23 13:19:29.242 [ERROR] [sy.internal.

[2017-08-23 16:26] craigham commented on #93
@robertw A lot of these errors could be due to me not shutting down services properly when you upgraded.  Could you try restarting openhab after you uninstall/install via the marketplace binding until I get that resolved?

Also, could you turn up the debugging to TRACE?  Would add a little more context before the errors.

I will look into why the ELK events are logging errors, though it may be har

[2017-08-23 16:31] craigham commented on #93
@robertw  it looks to me as though you do have the latest version of the binding.

if you see the line which contains: [225:org.openhab.binding.isy:2.2.0.201708191547]

That states the build was on Aug 19th.

You can always check that line with this url which should show latest build.  It's somewhat obfuscated, but the date of file (isy 2.2.0) is here:

https://s3-us-west-2.amazonaws.com/craigham-

[2017-08-23 16:36] ve7gel commented on #93
I too see the Elk errors in my logs, Craig.  Other than adding a little size to the logs they don't seem to be causing any problems so I haven't been worrying about them.  Are they an issue?

[2017-08-23 16:37] craigham commented on #93
No, they are really just noise.

[2017-08-23 19:06] craigham commented on #93
I just did a new build which hopefully will get rid of those elk errors.  I can't test because I don't have ELK, so please let me know.

I also cleaned up shutdown/restart of the isy binding, so should not see errors utilizing the marketplace upgrade.

thanks

[2017-09-02 12:33] boc-tothefuture opened #94 "Thermostat status is broken in latest release"
Thermostat status is broken in latest release, humidity level and current activity are broken as are other fields.

[2017-09-02 14:44] #94 closed

[2017-09-02 14:44] craigham commented on #93
haven't had feedback in awhile.  closing.  let me know if needs to be re-opened.

[2017-09-02 14:44] #93 closed

[2017-09-02 14:45] #8 closed

[2017-09-02 17:07] boc-tothefuture commented on #44
@craigham - I think this still has to be open.  I need to convert the thermostat one over to dan's method.  Right now they are inconsistent.

[2017-09-02 17:10] boc-tothefuture commented on #44
Actually, they all need to be converted.

[2017-09-02 17:20] swamiller commented on #91
Latest release seems to have resolved this issue.

Thank you!

[2017-09-02 17:20] #91 closed

[2017-09-02 18:22] craigham commented on #44
sorry, I will re-open.

[2017-09-11 20:12] boc-tothefuture commented on #44
Quick update.. I have pushed all the changes for this issue to #96
I will dogfood those changes for a few days before we close this out.

[2017-09-11 20:13] boc-tothefuture commented on #80
I think we can close this one.  I moved my code to updated as suggested by @digitaldan .

[2017-09-11 20:13] #80 closed

[2017-09-18 13:59] craigham commented on #44
merged.

[2017-09-18 13:59] #44 closed

[2017-09-30 17:37] craigham opened #97 "omni: NPE"
@boc-tothefuture I saw the NPE below when I restarted my openhab.

Before the NPE, I saw this trace which seems applicable.

2017-09-30 10:20:59.007 [WARN ] [link.handler.AbstractOmnilinkHandler] - Received null status update

Do you think we could have the status Optional initialized to empty when an instance is created?  Would this make it easier to know it is valid at all times?

eg
private vol

[2017-10-01 22:21] #85 closed

[2017-10-26 01:29] swamiller opened #98 "Auxiliary Temperature Zones"
Is there a channel set up to get auxiliary zone temps and humidity?  My outside temp is shown as a thermostat but none of my other room temps are available

I have temp sensors outside and in some of my rooms.  The outside temp is set up to show in the thermostat settings but I can't figure out the channel set up to get my room temp/humidity.

I tried:
`Number Zone_MasterTemp      "Master Temp: [%

[2017-10-26 04:35] BCS-JonW commented on #98
Ditto.   I'm also trying to get aux temp/humidity sensor readings.

[2017-11-01 19:51] boc-tothefuture commented on #97
@craigham - Sorry.. Somehow I didn't see this for over a month!

From what I can tell, yes going optional.empty() is the right move.

Did you already make a PR or want me to?

[2017-11-01 19:51] boc-tothefuture commented on #87
@craigham Did you already do this?  Can we close this now?

[2017-11-01 19:52] boc-tothefuture commented on #40
@digitaldan @craigham -
  Do we think we are ready to push this to master?  Or do we still need to work on the documentation more?

[2017-11-01 20:29] craigham commented on #97
@boc-tothefuture to be honest I am not sure if I did a PR.  I will take a look and let you know.

[2017-11-03 16:03] digitaldan commented on #40
Hi guys, sorry I have been not around much lately.  I'm in between houses (sold mine and moved out, remodeling the new one before we move in) and don't have a real OH server running.  So I'm not going to be much help.  So i leave it to you :-)

[2017-11-06 14:42] boc-tothefuture commented on #98
I have some temp sensors but haven't put them in OpenHab yet.  I will take  crack at this one.

[2017-11-06 14:43] boc-tothefuture opened #99 "Missing Omni Updates"
It appears the omnilink addon is missing updates from the Omni periodically.  I can't detect a pattern, but I noticed that SnapLink will show the correct state and our state in Openhab.  I have only noticed it on lighting.

@craigham are you seeing this too?

[2017-11-06 14:47] boc-tothefuture commented on #98
@swamiller when you say 'String Output' does that mean its just showing the value and not converting it to a temperature?

[2017-11-06 15:58] craigham commented on #99
@boc-tothefuture I can't say I have.  However, I have issues with general stability of openhab 2 while running within a docker container.  This leads to restarts.  So something like this isn't something I would have looked for.

Would you be able to log events within Snaplink, and then could do a comparison?  Also, maybe we could do some extra logging around the connection to see if it is dropping

[2017-11-06 17:11] BCS-JonW commented on #98
There is no temperature value output - numeric or string.

[2017-11-07 02:25] swamiller commented on #98
Because the omni treats extended temp/humidity sensors like zones, I only get a string zone status (CLOSED, secure, Disarmed, etc.) but no temperature value.

[2017-11-07 02:28] boc-tothefuture commented on #98
Ok - I started working on the code tonight.  It will probably take a few days.

[2017-11-08 01:42] boc-tothefuture opened #101 "Change channel sysDate to to sys_date"
All of the other channels are snake_case sysDate appears to be the only one that is lowerCamelCase.

@craigham Are you OK with this proposal?

[2017-11-08 01:43] craigham commented on #101
totally ok

[2017-11-08 01:47] craigham commented on #40
@digitaldan  you're not going to live try living without an omnilink at your new house are you?

[2017-11-08 01:48] craigham commented on #40
@boc-tothefuture I'll try to make some time to get the code fitting the guidelines.  I've been working on some other projects lately, but I'll try and get to it late next week.  Unless you want to run with it a bit, that is cool too.

[2017-11-08 02:05] boc-tothefuture commented on #101
Do you have an example of how we use that channel?  Now that I am not restarting my driver all that often I need to get the time update into a cron rule.
I have tried to define the thing like this:
` DateTime  System_Date "Omni Date [%s]" { channel="omnilink:controller:home:sysDate" } `
With the following rule:
[code]
And I get the following error message:
[code]
So I assume my thing is defined in

[2017-11-08 02:07] craigham commented on #101
I have a rule like this.

rule "sync omnilink time"
when
        Time cron "0 34 3 * * ?"
then
        logInfo("Rules","Syncing omnilink clock")
	omnilink_omnilinkBridge_omni_sysdate.postUpdate( new DateTimeType() )
end

looks like only diff is I am using the openhab date time type instead of the java.

let me know if you need more info.

[2017-11-08 12:52] boc-tothefuture commented on #101
What is `omnilink_omnilinkBridge_omni_sysdate` or where does that get defined?

[2017-11-08 13:26] boc-tothefuture commented on #97
#100 should close this.

[2017-11-08 13:27] boc-tothefuture commented on #98
@swamiller can you check the latest build and validate it works for you?  I did w/ a temperature but my humidity sensor is broken so I couldn't test that.

[2017-11-08 16:30] craigham commented on #101
that is my item mapping to the system time channel on the omnilink
controller.  If I remember correctly, I just used simple item mapping in
paper ui.

On Wed, Nov 8, 2017 at 4:52 AM, boc-tothefuture <notifications@github.com>
wrote:

[2017-11-08 18:47] BCS-JonW commented on #98
I just downloaded the latest from here:  https://s3-us-west-2.amazonaws.com/craigham-pub/org.openhab.binding.omnilink-2.2.0-SNAPSHOT.jar    Is that the correct location?

Still not getting the temperatures.  The channel config looks like this:  {channel="omnilink:zone:home:14:temperature"}

[2017-11-08 18:51] craigham commented on #98
yes, that has the latest build.  I am not sure about specifics regarding
the config though.

On Wed, Nov 8, 2017 at 10:47 AM, BCS-JonW <notifications@github.com> wrote:

[2017-11-08 18:53] boc-tothefuture commented on #98
@BCS-JonW - its not a zone anymore (those are limited to security zones)
Here is an example if you are defining your Things manually:
`Thing aux_sensor deck_temp "Deck Temp Sensor" [number=30]`
Here is what the item would look like
[code]
Swap out temperature for humidity if that is what you are trying to read on the channel.

[2017-11-08 19:14] BCS-JonW commented on #98
Great, thanks @boc-tothefuture !  Temperature & humidity is working now.

[2017-11-09 00:32] boc-tothefuture commented on #98
@craigham -
  I think this can be closed now.

[2017-11-09 00:35] craigham commented on #98
@boc-tothefuture  nice addition.

[2017-11-09 01:33] swamiller commented on #98
Sorry I was late to the game, but all works except the "high setpoint" is missing.  The "low setpoint" is available.

[2017-11-09 01:35] swamiller opened #102 "Aux Temp Sensor High Setpoint missing"
Aux temp sensor high setpoint is not an available channel.  Low setpoint works.

[2017-11-09 01:36] boc-tothefuture commented on #98
Hmm.  I will double check high setpoint code.

[2017-11-09 01:49] swamiller commented on #98
@boc-tothefuture the humidity number is not correct either.  It is mirroring the current temp value, not the humidity value.  Would you like a separate issue opened?

[2017-11-09 01:51] boc-tothefuture commented on #98
Hmm.  You have it on a humidity zone I assume?  The calculation for humidity is the same as the calculation for Fahrenheit.

[2017-11-09 01:55] swamiller commented on #98
Here are my items:
`Number	OutsideTemp_Current	        "Current: [%d]"	            (Zones_MasterTemp, Thermostats)	  {channel="omnilink:aux_sensor:13:temperature"}
Number	OutsideHumidity	            "Humidity: [%d]"	        (Zones_MasterTemp, Thermostats)	  {channel="omnilink:aux_sensor:13:humidity"}`

[2017-11-09 01:57] BCS-JonW commented on #98
@swamiller The extended range temp/humidity sensor wires up using two zones.  Depending how you wired it, your humidity sensor is likely using either zone 12 or 14.

[2017-11-09 01:58] boc-tothefuture commented on #98
Temperature and humidity should not be on the same zone number.  In your case 13.  Check your Omni config, at least on mine with the combo sensors they are wired to different zones.

[2017-11-09 02:03] swamiller commented on #98
Ah, you are correct @BCS-JonW.  @boc-tothefuture the temperature "thing" lists 3 channels, the low setpoint and the humidity channel with the incorrect channel ID number.  I did find a separate humidity channel listed with the correct channel 14.

[2017-11-09 02:09] boc-tothefuture commented on #98
Yeah, it is probably not the best user interface because for every aux_sensor one channel will be wrong (humidity or temp).  I didn't see a method to determine if the sensor was humidity or temp from the API.  But I will look again.

[2017-11-09 02:09] boc-tothefuture commented on #98
@craigham -
Sorry for the flip flop here.  Might want to reopen this issue while I look at this some more.

[2017-11-09 02:14] swamiller commented on #98
@boc-tothefuture Looks like the aux temp sensors should 3 channels, temperature, low setpoint, and high setpoint.  The temp with humidity will have the same 3 channels plus a separate humidity channel.

[2017-11-09 02:16] boc-tothefuture commented on #98
Temp and humidity I think have to be separate items since the have distinct high/low alarms and run on separate physical zones.

[2017-11-09 02:20] swamiller commented on #98
Yes, that is true.  Looking at the humidity sensor, it lists 3 channels: temperature, humidity, and low setpoint (like the temp sensor).

[2017-11-09 02:51] BCS-JonW commented on #98
@boc-tothefuture   The HAI API does specify separate zone types when the object type is Auxilliary, so you can determine which it is when requesting zones from the panel.

[2017-11-09 15:45] boc-tothefuture commented on #102
Low was actually broken too (It was broken in jomnilink).

[2017-11-09 15:47] boc-tothefuture commented on #98
New code pushed in #103.
Humidty and Temp are now distinct OpenHab Things.  Which leads to better user experience (don't have null channels that can be confusing).

Examples

Thing definition:
[code]
Item definition:
[code]

[2017-11-09 15:47] boc-tothefuture commented on #98
@craigham can you reopen this until @swamiller  and @BCS-JonW sign off on it?

[2017-11-09 20:23] BCS-JonW commented on #98
@boc-tothefuture  Not sure I'd agree with separating the temperature and humidity.  You're basically duplicating the item definitions and just leaving it to the user to decide which to use based on whether it is a temp or humidity sensor attached (functionally, they'll work identical and would be interchangeable).

Why not just use a generic channel description like "aux_sensor_value" instead of t

[2017-11-09 20:44] boc-tothefuture commented on #98
@BCS-JonW  -
  Thanks for the feedback.  The only option is for them to be two different 'things' in OpenHab terminology or have two sets of channels for all three settings (sensor value, high and low) so a single aux sensor type would have 6 channels.  The values that get put on the channels for temp vs. humidity are calculated differently.  Humidity values get calculated using the Fahrenheit con

[2017-11-09 21:59] BCS-JonW commented on #98
@boc-tothefuture  - I had completely forgotten that the decoding of the values may be different between humidity and temp based on the controller C/F setting.  In my own apps, I always decoded as F, so I used the same function to convert the values.  Makes sense now.

I downloaded the latest build and updated my Things definitions, but I'm getting a couple errors on startup:

2017-11-09 13:41:43.7

[2017-11-09 22:30] boc-tothefuture commented on #98
Can you post your things file?

[2017-11-09 22:47] BCS-JonW commented on #98
Pretty simple Things file since most of my 130+ devices were auto-discovered and added via Inbox in PaperUI.

Bridge omnilink:controller:home [ ipAddress="192.168.1.43", key1="<removed>", key2="<removed>" ] {
	Thing 	temp_sensor 		attic_temp 		"Attic Temperature Sensor" 		[number=14]
	Thing 	humidity_sensor 	attic_humi 		"Attic Humidity Sensor" 		[number=15]
}

[2017-11-09 22:54] boc-tothefuture commented on #98
Sorry... Meant items file.

[2017-11-09 22:57] BCS-JonW commented on #98
After getting the errors, I went back and added entries for both low and high setpoints, but errors persist whether those entries are there or not.

I'm guessing you just want the relevant lines of items....

Number 		hai_zone_014 				"Attic Temp [%d °F]" 			(Group_Temperature)				{channel="omnilink:temp_sensor:home:attic_temp:temperature"}
Number 		Attic_Low 					"Low [%d]" 						(Group_Temperatu

[2017-11-10 01:39] boc-tothefuture commented on #98
@BCS-JonW -
   Thanks for the info. I have a PR in now to fix it.. Curious does low set point work for you even with the error?  It seemed to work on my end.

[2017-11-10 02:47] swamiller commented on #98
I just picked up the latest and temp sensors and high low set points work well.  Humidity and humidity high setpoint are correct, but no low humidity setpoint channel exists.

[2017-11-10 02:51] boc-tothefuture commented on #98
I just posted a fix for that about an hour and a half ago.  How new is your build?

[2017-11-10 02:53] swamiller commented on #98
<Key>org.openhab.binding.omnilink-2.2.0-SNAPSHOT.jar</Key>
<LastModified>2017-11-10T01:56:37.000Z</LastModified>

This build was posted about an hour ago.

[2017-11-10 02:55] boc-tothefuture commented on #98
Ok, I will take a look..  it worked for me, but I manually define everything in my tests.

[2017-11-10 03:05] swamiller commented on #98
I use the paper UI to find the new things but I have an items file set up with all the omni items.  The 2 temp sensors and the humidity sensor were found properly.  The 3 channels for the temp sensors were found (and linked to my items file properly) but the humidity channel only found 2 channels, humidity and high setpoint.

[2017-11-10 12:20] boc-tothefuture commented on #98
@swamiller -> Just put a PR in.  Was a typo in the channel definition.

[2017-11-11 02:05] swamiller commented on #98
![image](https://user-images.githubusercontent.com/17254439/32685201-2f9fdd9c-c652-11e7-9d7c-77653785bab4.png)

Same result.  I deleted the "thing" and readded but still no low point for humidity.

[2017-11-11 19:19] boc-tothefuture commented on #98
New PR in..  Sorry, I am on a roll w/ typos on this one.  :(

[2017-11-13 01:26] swamiller commented on #102
Looks good to me, thank you!

[2017-11-13 01:27] swamiller commented on #98
Looks good now, thank you!

[2017-11-13 01:30] swamiller opened #108 "Thermostat labels missing, Paper UI"
The Paper UI is often used for troubleshooting issues with things. All of the omnilink items have a label (name) shown in the Paper UI except for the thermostats.

[2017-11-13 22:55] BCS-JonW commented on #98
Ditto... Setpoints look good now.

[2017-11-13 23:02] BCS-JonW commented on #108
Here's a screenshot of my PaperUI showing some of the thermostats with missing labels.

![hai_thermostats_paperui](https://user-images.githubusercontent.com/7365166/32753907-98c1e4c2-c883-11e7-8aeb-d1be757a7b4a.PNG)

[2017-11-14 01:24] BCS-JonW commented on #99
I'm seeing this as well.  However, I've tracked it down to some specific configs that made it repeatable (at least in my setup).

It seems that any UPB switches that I had configured to use the "switch" channel in my sitemap, would operate the device properly, but would not update status.  Seems that the UPB devices only supported the "level" channel and I was improperly trying to use it as a swit

[2017-11-14 01:29] swamiller commented on #99
@BCS-JonW I reported this as a different description but similar problem, see #92

[2017-11-14 03:24] BCS-JonW commented on #92
I would like to see support for a "switch" type in addition to the "level" type on UPB units.  I have several UPB units configured for non-dimming applications as well as actual appliance modules which are strictly on/off capabilities.  When defining these with a level channel, they show a percentage indicator in the BasicUI even when the button is configured for switch.

[2017-11-14 13:30] boc-tothefuture commented on #98
ok - sounds like we can close this one for real now @craigham

[2017-11-14 13:32] boc-tothefuture commented on #102
@craigham I think we can close this now.

[2017-11-14 13:35] boc-tothefuture commented on #99
@BCS-JonW - the 'switch' type is used for scene switches.

[2017-11-14 15:14] #98 closed

[2017-11-14 15:14] #102 closed

[2017-11-14 20:20] BCS-JonW commented on #20
Since this issue is still open, I'm inquiring here as to the status of how HAI buttons are handled.

Currently, my buttons are configured as an on/off switch.  When activating the button from either BasicUI or the IOS app, the button briefly toggles to ON, then quickly back to OFF.  This works as I would expect.

However, after OpenHAB has been running for a period of time, **all buttons stop doin

[2017-11-15 14:48] boc-tothefuture commented on #20
@BCS-JonW HAI buttons are tricky because they aren't really a switch because they don't actually have state.
Your item needs to turn off autoupdate
`Switch Buttons_Goodnight "Goodnight []" { channel="omnilink:button:home:goodnight:press", autoupdate="false" }`
In your sitemap, it should look like the following:
`Switch item=Buttons_Goodnight label="" mappings=[ON='Goodnight'] icon="moon"`
That get

[2017-11-21 03:34] ve7gel opened #111 "Websocket class exception with isy binding"
I'm seeing this error frequently with the isy binding market:binding-3329208 - 1.0 (openHAB 2.2.0~20171119040002-1 (Build #1084)).  The isy994i is running firmware 5.0.10E.  A fraction of a second later the connection is re-established.  The periodicity of the failure seems somewhat random, sometimes a few seconds, sometimes a few minutes.
Thanks all.

### 2017-11-20 19:25:45.133 [WARN ] [.interna

[2017-11-22 03:18] swamiller opened #112 "Capture User Actions from Omni log file"
I am trying to pass usernames to a notification app (Pushover) during alarm mode changes (arm away, disarm, arm night, etc.).  I have a map file with code to name translations. One problem I have is the omnilink binding doesn't seem to capture codes entered at a console.  I am able to pass user codes within OH (programmed from a rule and human readable) and map the code to the user. The problem wi

[2017-11-24 03:19] mdedonato commented on #92
I see a similar issues when using the alexa integration and a dimmer.  When the lights are set directly to 100% via alexa (not using a slider) the lights do not respond.  Setting the light to 99% using alexa, results in proper operation.

[2017-12-04 11:59] boc-tothefuture commented on #112
Looking at the protocol - omni does not appear to send the user code during an area event.  We can access the log. However, Omni doesn't send a notification when something is written to the log. We would need to implement some sort of polling mechanism.

I am also not sure how we would represent a log in OpenHab?  Its an array of strings - what does that map to in omni? One large string?

[2017-12-04 12:02] boc-tothefuture commented on #108
Is this still an issue?  I don't see it on my system - they all have labels.

[2017-12-04 15:47] swamiller commented on #112
I wonder if using the protocol similar to the Onkyo Binding might work.  More specifically, the Onkyo Binding somehow "polls" the receiver's list of Net stations (Pandora as an example) and assigns them to items.

From the Onkyo Binding:
netmenu#item0 through netmenu#item9
These are each string items with one line of data.

If we could do something similar with the omni log data and only capture t

[2017-12-05 20:41] BCS-JonW opened #113 "Duplicate Temperature and Humidity Things discovered"
Since the added support for Temperature and Humidity Auxilliary zones, the discovery process now finds and adds the temperature and humidity zones twice.  They are added once as aux sensors and added again as zones.

Seems that discovery should only add them as the aux type and not a zone.

![hai_temp_humi_dups](https://user-images.githubusercontent.com/7365166/33627874-bbe4f34a-d9b3-11e7-9245-4ca

[2017-12-09 18:27] #111 closed

[2017-12-10 20:36] samroy opened #116 "Device type : 02.16"
Hello :)
I very like this isy addon. Thank you very much !!!

All my devices has been recognized except those of type **02.16 (2876SB) [ICON IN-WALL ON/OFF SWITCH]**. They are discontinued but I still got some here in my home.

So, May I suggest adding this line
`mMapDeviceTypeThingType.put("02.16", IsyBindingConstants.SWITCH_THING_TYPE);`
to IsyRestDiscoveryService.java ?

Thanks again,
Sam.

[2017-12-13 02:07] craigham commented on #116
latest build should discover that device now.

[2017-12-13 02:07] #116 closed

[2017-12-13 02:34] BCS-JonW commented on #112
None of the Omnilink "unsolicited event" items sends a user code.  That data only comes from the log.

You wouldn't need to do period polling of the log if you're just looking for who performed the last user action.  Seems you could just poll the log on demand when OpenHAB gets unsolicited events for access control, zone bypass/restore or area armed/disarmed.  Those are really the only time you ne

[2017-12-13 02:56] boc-tothefuture commented on #112
Ok.  Last week I pushed the audio source stuff out.  That is also polling based so we have a framework for polling style updates in this binding now.

The lack of any sort of list type in OpenHAB really ties our hands here from an architecture perspective.

Should we only have an item for the last log line?  If you want more you persist them in OpenHAB rules?  Or is the last 10 better for some rea

[2017-12-13 03:00] craigham commented on #112
I really don't have much to add on this.  utilizing persistence seems like
a reasonable place to start as it keeps the binding a little simpler I
would say, presumably at the expense of rules which would have to fish out
previous values.

On Tue, Dec 12, 2017 at 6:56 PM, boc-tothefuture <notifications@github.com>
wrote:

[2017-12-13 11:33] boc-tothefuture commented on #113
Didn't see this till now - I can take a look.

[2017-12-13 11:40] boc-tothefuture commented on #112
@swamiller and @BCS-JonW -
  I looked at this a bit more w/ the API doc in front of me.  Items are not returned as a log of text, rather as 2 or 3 distinct fields in a message.  This complicates matters a little bit.  My initial plan was to just have the last 'message' in a channel that could be accessed.  But if I need three channels this becomes very complicated because the states may not match

[2017-12-14 01:14] #26 closed

[2017-12-14 11:00] boc-tothefuture commented on #113
@BCS-JonW - Can you validate the latest version of the binding doesn't have this issue?

[2017-12-14 11:01] boc-tothefuture opened #121 "Omnilink binding doesn't support generic units"
Please add support for unit type of output.

[2017-12-14 15:30] 2MuchTech commented on #92
FWIW, this is how it works with Alexa talking to an openHAB 1.x installation as well.  My system uses Leviton's Vizia RF+ switches (defined simply as a "unit" in the 1.x binding), and you have to tell Alexa 99% instead of 100% if you want full brightness.

[2017-12-14 15:41] 2MuchTech commented on #121
A little more background on this...  I have been using openHAB 1 with the original omnilink binding, and it understands what a "unit" is.  My "items" all end in something like {omnilink="unit:12"} and openHAB 1 has no problem controlling the lights.  In PC Access each unit is of type "Vizia RF Z-Wave".

In openHAB 2.1 with the marketplace omnilink binding it never even discovers any of my units.

[2017-12-14 17:13] craigham commented on #121
@2MuchTech Issues with that type of light don't surprise me.

Up to this point I believe the rest of the users have just been using upb.

Not sure how this can be tackled unless we have someone with such lights hooked up.  @2MuchTech do you have the ability to try and implement vizia lights?  Or no?

[2017-12-14 19:06] boc-tothefuture commented on #112
@swamiller - PR #122 has initial support for event log messages.  Can you validate this works for your use cases?

[2017-12-14 19:21] BCS-JonW commented on #113
Correct.  It no longer adds temp/humidity zones as security zones.  Also now uses the controller ID designation in the items file as it should.

On a related note though, the thermostat definitions still do not allow the controller ID to be added to the item definition.  (I know, that should have been reported when thermostats were being worked on, but it is the same related issue that the temp/hu

[2017-12-14 19:56] BCS-JonW commented on #121
I have both UPB and Vizia defined on my system.  OpenHAB never discovers the Vizia devices.  As a work-around, I temporarily defined them as UPB within PC Access, downloaded to the panel, then ran discovery to get them setup as Things.  Once setup on OpenHAB, I changed them back to Vizia and again downloaded to reset the panel.  Those devices are now represented in OpenHAB as UPB, but are controll

[2017-12-14 20:03] boc-tothefuture opened #123 "Thermostats don't report controller ID"
Per comment in #113

[2017-12-14 20:09] BCS-JonW commented on #123
Just as a point of illustration, see attached pic that demonstrates the missing controller within Thing definitions.
![hai_themostat_no_controller](https://user-images.githubusercontent.com/7365166/34012166-9045a80e-e0c7-11e7-901d-e49c97bfa78f.PNG)

[2017-12-14 21:04] swamiller commented on #112
@boc-tothefuture - will this show up as an item?  I added the latest binding, deleted cache/tmp files and reloaded and no new items.  I checked the OH log as well and didn't see any omnipro messages there either.

How is this function to be used?

[2017-12-14 21:15] 2MuchTech commented on #121
@craigham I've got plenty of Vizia RF+ devices in my system (switches, dimmers, 4 button scene controllers, 4 button on/off controllers).  If you're asking whether I can test code to see if it works, absolutely!  If you're asking if I have the ability to dive into the code to see if I can fix it, I'm not sure.  I can take a look at it, but I no longer write code on a regular basis, so it will like

[2017-12-14 22:12] boc-tothefuture commented on #112
It is just be a new channel on the bridge itself. Name of the channel is "last_log".

[2017-12-14 23:17] swamiller commented on #112
Ok, I see.  The "last_log" channel isn't showing up.  Consequently, the other added channels are greyed out as well.

![image](https://user-images.githubusercontent.com/17254439/34019059-a04d14dc-e0f2-11e7-88f1-06c730a7b0f6.png)

[2017-12-15 01:50] boc-tothefuture commented on #121
FYI - I had started this particular issue for missing unit type output (not generic units).  But there is good conversation in here so I retitled and will open another one just for Output type units.

[2017-12-15 01:51] boc-tothefuture opened #124 "Omnilink binding doesn't support Units of type Output"
Please add support for unit type output.

I will put this on my todo list.

[2017-12-15 01:56] boc-tothefuture commented on #112
@swamiller -
  Are you sure you have the latest after the PR was merged by @craigham ?

Here is how it looks on my system:
![image](https://user-images.githubusercontent.com/13153815/34023144-47421a9e-e111-11e7-8f03-761aa5de18b8.png)

[2017-12-15 01:57] boc-tothefuture commented on #97
@craigham - you can close this (#100 fixed it)

[2017-12-15 02:10] boc-tothefuture commented on #108
@swamiller -
  Can we close this?  I just tried on the latest build after discovery with a totally cleaned out system and I can't reproduce it anymore.

[2017-12-15 02:37] swamiller commented on #108
This isn't a big deal but I just did a fresh install and here is how the thermostats are discovered:

![image](https://user-images.githubusercontent.com/17254439/34024188-76ad2380-e10e-11e7-8d8b-5c23f6cb1419.png)

The label doesn't come across like all of the other things.

Not a show stopper or a big deal, just an anomaly for the thermostats.

[2017-12-15 02:46] swamiller commented on #112
I deleted my json database and restarted OH and i have the channel now.
How do I decipher the data?  I recognize the date/time but the other data is cryptic. I don't see anything that I can relate back to a user.  Here is a screenshot of my phone app that directly reads the omnipro event file:
![image](https://user-images.githubusercontent.com/17254439/34024444-c2aa40f0-e10f-11e7-86d3-b3ea9794b5d2

[2017-12-15 02:54] #97 closed

[2017-12-15 10:34] boc-tothefuture commented on #108
The name for the thermostat was coming across as null. This was in the underlying jomnilink library (so not a new defect).  I pushed a change to jomnilink and put in a PR to here to consume the new library.
Looks good on my side - if you could validate when the PR gets merged, I would appreciate it.

[2017-12-15 10:42] boc-tothefuture commented on #112
Right now we are just reporting the raw message from the omnipro - not doing any translations which your app is doing.

In addition to the user codes, the following security codes can be reported:
251 Duress code
252 Keyswitch
253 Quick arm
254 PC Access
255 Programmed

Event Type | Parameter 1 P1 | Parameter 2 P2 | Description
-- | -- | -- | --
4 | 1-n | 1-n | zone P2 bypassed with code P1
5 | 1-

[2017-12-15 18:01] swamiller commented on #112
Ok, I get it...nothing is simple with HAI!  Thank you for this enhancement!  I like this path much better than exposing user codes in OH.

[2017-12-16 03:06] swamiller commented on #108
I cleaned out my OH database and loaded the latest binding version.  Thermostats don't autodiscover at all now.  I can manually force the setup and the items will link up to my .items file but the thermostat is stuck in "Initializing" until I restarted a couple times.

[2017-12-16 04:41] 2MuchTech commented on #92
@boc-tothefuture : in your example of an Item and Thing several posts up, you have the unit number defined in the Thing.  Other places that discuss OH2 and omnilink show the unit number defined in the Item.  Is there documentation somewhere that describes exactly what the correct syntax is for the omnilink binding for Items and Things?

I’ve been experimenting with Units in my .items file in OH2,

[2017-12-16 11:19] boc-tothefuture commented on #108
@swamiller - I can't duplicate this issue.  :(
I just started with a clean system (in the dev environment) ran discovery, it found both T-Stats and I could add them as Things.

I am curious if anyone else is seeing the issue?  @craigham or @BCS-JonW ?  That would help me debug it.

[2017-12-16 11:21] boc-tothefuture commented on #92
@mdedonato - What voice command are you issuing over Alexa?  I essentially just use the 'on' and 'off' command which works correctly.

[2017-12-16 11:35] boc-tothefuture commented on #92
@2MuchTech -
  When you use auto discovery in the paperUI the items files will have a omnilnk number the name of the 'thing' and that will be part of the UID (unique identifier) that is referenced as a channel.  Changing the number field in the item channel definition changes the thing the item links to not what the omnilink binding controls.  This is a Openhab 2.0 thing - not unique to the omnili

[2017-12-16 11:37] boc-tothefuture commented on #112
Let me know when you get a chance to test it out so we can close this issue or fix any bugs that come up.

Thanks!

[2017-12-16 14:00] craigham commented on #108
I don't have thermos hooked up to my omnilink.

[2017-12-16 21:06] BCS-JonW commented on #108
Using PaperUI, I deleted my thermostats, then re-ran discovery and they came right back in - name/label intact.

[2017-12-16 23:45] swamiller commented on #108
Ok, I’ll try again on a clean install and get back with you.

From: BCS-JonW <notifications@github.com>
Reply-To: QuailAutomation/openhab2-addons <reply@reply.github.com>
Date: Saturday, December 16, 2017 at 3:06 PM
To: QuailAutomation/openhab2-addons <openhab2-addons@noreply.github.com>
Cc: Steve Miller <swamiller@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [QuailAutomation/open

[2017-12-17 03:11] BCS-JonW commented on #123
This looks to be fixed now. Thanks.

[2017-12-17 04:41] boc-tothefuture commented on #123
Closing.  Fixed by #125

[2017-12-17 04:41] #123 closed

[2017-12-18 05:47] 2MuchTech commented on #92
I'm just not getting this.  It would be immensely helpful if OH2 could write auto-discovered Things and Items into a .things and .items file so one can see the exact syntax required.

I am having no luck getting this to work when I manually create the .things and .items files.  When I tried defining the Thing as just a "upb", it complained that it didn't know what a upb was, so I tried prefacing i

[2017-12-19 04:06] boc-tothefuture commented on #113
@craigham - I think this can be closed now.

[2017-12-19 04:07] boc-tothefuture commented on #112
@swamiller - have you been able to test this yet?

[2017-12-19 04:10] swamiller commented on #112
Sorry for the delay, yes I am consistently getting the last log file message.  This request can be closed, however, is there hope of having the binding do the translations in the future?

[2017-12-19 04:11] boc-tothefuture commented on #92
your things file should be
`Thing upb Light_L1_Kitchen_Ceiling  "Kitchen_Ceiling" @ "Kitchen" [number=18]`

items file:
`Dimmer Light_L1_Kitchen_Ceiling "Kitchen Ceiling [%d]"	(L1_Kitchen) {channel="omnilink:upb:home:Light_L1_Kitchen_Ceiling:level"}`

[2017-12-19 04:13] boc-tothefuture commented on #112
Yeah - Feel free to add another issue for that because we would have to discuss how that would look.
@craigham  I think you can close this.

[2017-12-19 04:17] boc-tothefuture commented on #40
The main thing holding this back from being able to merge into the official openhab is a lack of documentation.
@swamiller / @BCS-JonW -
 Would either of you be willing to take the task of creating the documentation for the binding?  If someone else can own the task of making the documentation I can focus on our backlog of features.
 I am happy to help by answering any questions.

[2017-12-19 15:25] #112 closed

[2017-12-19 17:13] BCS-JonW commented on #40
@boc-tothefuture - unfortunately I have a few projects at the moment that are sucking up my time.  I'm about 60 days out from seeing any letup to take on anything else.

[2017-12-20 02:12] swamiller commented on #108
Tested on a clean install, works good.  Thank you very much, @boc-tothefuture!  Excellent work!

Ok to close, from my side.

[2017-12-20 02:27] boc-tothefuture commented on #108
@craigham - please close.

[2017-12-20 03:09] craigham commented on #108
@boc-tothefuture nice work.  closing.

[2017-12-20 03:09] #108 closed

[2017-12-20 03:55] 2MuchTech commented on #92
Perhaps I've got something else misconfigured?  I tried your suggestion above, and still no go.  Here's my info:

default.items:
Group All
Group Inside							(All)
Group Outside							(All)
Group gL0				<cellar>		(Inside)		// Group for Level 0 (basement)
Group gL1				<groundfloor>	(Inside)		// Group for Level 1 (main level)
Group gGarage			<garage>		(Inside)		// Group for Garage fluorescent lights

[2017-12-20 19:06] boc-tothefuture commented on #92
@2MuchTech -
 Can you paste your complete things file?  Also, what was the reason you wren't using auto-discovery in the paper UI?  I can't recall.

[2017-12-20 20:20] 2MuchTech commented on #92
I have only the one line in my .things file.  Once I figure out what OH2 is looking for I’ll populate it with the rest of my things.

I’m not able to use autodiscovery because OmniLink doesn’t recognize Units as Things, and all of my light switches/dimmers are Leviton Vizia RF+ devices, which are generic “unit”s in the OmniPro II.

[2017-12-20 21:31] craigham commented on #92
@2MuchTech have you tried to manually create a upb unti using paper ui?  If you know the unit number you should be able to create the thing/item via the GUI.

[2017-12-20 23:31] 2MuchTech commented on #92
If I use PaperUI to manually create a Thing and an Item (and link them), I can control them from PaperUI without any apparent issues.  But I have a lot of lights in my system, and I would really prefer to maintain .things and .items files... just in case something in the OH2 database goes awry (I'm already seeing evidence of potential problems... I've deleted previously added Items and Things and

[2017-12-20 23:42] craigham commented on #92
@2MuchTech ya, I realize it is no fun adding a bunch of lights manually.  I just wanted to get a sense of how it worked when it was set up.

I unfortunately haven't gotten to putting my things and items in files yet.  I agree, they are much more stable when specified like that.  I have been spread a little thin trying to contribute on 3 different bindings.

@boc-tothefuture Do you think we should

[2017-12-20 23:58] boc-tothefuture commented on #92
@2MuchTech -
 Ahh - Ok, so if you just have "things" in a things file not inside of a bridge file, then openhab won't know what binding to use to control that thing.

File should look like this:
[code]

[2017-12-21 02:44] 2MuchTech commented on #92
Okay, now things are starting to make sense!  I hadn't seen anything in the docs about the Bridge definition in the .things file :-(  I'm possibly not completely out of the woods yet, but I've added a few entries and it doesn't seem to be complaining anymore.  Let me get my entire list of devices in the .items and .things files and I'll report back.  Progress!  Thank you!

BTW, is there an easy wa

[2017-12-21 03:37] craigham commented on #92
I believe you can stop openHAB, then delete the files in the
userdata/jsondb folder.

Then restart.

Maybe backup before you try that though

On Wed, Dec 20, 2017 at 6:44 PM 2MuchTech <notifications@github.com> wrote:

[2017-12-22 06:06] swamiller commented on #40
@boc-tothefuture - I don't mind helping document where I can but I have zero GitHub skills.

[2017-12-25 18:43] mdedonato commented on #92
@boc-tothefuture, Since it is a dimmer I sometimes use the set level command.  i.e. "Alexa, Set the Kitchen lights to 50%"  or "Alexa, set the Kitchen lights to 100%"  The 100% setting does not go to full brightness.  If I issue the following commands in order "Alexa, set the Kitchen lights to 100%" then "Alexa, set the Kitchen lights to 99%" then the lights go brighter.

[2017-12-25 19:29] craigham commented on #92
I have both Insteon and upb lights, so I might be confusing the two technologies, but I can set an ‘on level’ attribute for lights, so when they are turned on with the paddle, they only go to 80%.  This sounds like the issue you are running into.  You are sending an on command to the light, but it might not consider on as full brightness.

[2017-12-28 04:23] swamiller commented on #112
@boc-tothefuture I got this working and thought I would share what I did.  Please note I'm sure there arem more efficient ways to do program this but this was my amateur attempt.

I used the Omni-Link protocol to figure out the code mappings for the Event Types, User numbers, and Parameter 2 (which is has been assigned several tasks).  I used the JSONPATH transformation to read the log file and MA

[2018-01-26 09:41] cgoffredo opened #127 "Add support for Micro Module Dimmer 2442-222"
## Expected Behavior
Add as a 'switch' type of control

## Current Behavior
Shows as an unknown device

## Possible Solution

## Steps to Reproduce (for Bugs)
When discovered, shows as:
Unrecognized Device
isy:unrecognized:39fdfd27:XX_XX_XX

## Context
Does not show as online, unable to control

## Your Environment
ISY-Binding, openHAB 2.2

[2018-01-26 23:55] craigham commented on #127
@cgoffredo could you do me a favor and look at the log file when you do a discovery.  there should be a warning which starts with 'Unsupported insteon node'.  If you could tell me the type parameter, that would allow me to create the mapping to a switch device.

thanks.

[2018-01-31 12:10] cgoffredo commented on #127
Sure, I actually have a couple of unsupported:

EZIO40 - type: 07.08 (Has four on/off relays)
Microdimmer - type 01.35

Thanks!

[2018-03-31 22:15] swamiller opened #128 "BaseThingHandler.initialize() will be removed soon"
I am getting the following error repeatedly during restart:

`2018-03-31 22:06:04.387 [WARN ] [.core.thing.binding.BaseThingHandler] - BaseThingHandler.initialize() will be removed soon, ThingStatus can be set manually via updateStatus(ThingStatus.ONLINE)`

The message seems associated with ominlink thing status updates during restart.

[2018-04-03 19:27] craigham commented on #128
yes, there is a call to a inherited method around initialize that has been deprecated in openhab.  Someone will have to remove that call.

[2018-05-08 00:03] HentschelT opened #130 "[ISY] current open issues"
Hi Craig,

based on the conversation here: https://forum.universal-devices.com/topic/21026-isy-binding-for-openhab-2/?page=3 I've put together a list of things that could use some attention in the ISY binding: http://www.hentschel.net/w/index.php?title=OpenHAB_ISY_Binding_rework

One part (Scene updates) is already done, however it seems the part that the binding currently doesn't add/remove devic

[2018-05-09 09:58] HentschelT commented on #130
Aside from Scene updates, I've started on automatic node add/remove based on web socket updates. Still a few more things needed, initial commit is here: https://github.com/HentschelT/openhab2-addons/commit/0664c11f5863a08965a33900614242a558ef7cbc

[2018-05-09 10:03] craigham commented on #130
Hi Thomas,

I think I will have a little time in about 6 hours to take a look.

However, one thing which would make this easier is if you pull my current branch and commit against that so I don’t have to until grade my master to merge your PRs.

I will try to take a look a look at all of this so on so I can provide feedback.  Thanks for the efforts and forthcoming contributions.

Craig

[2018-05-10 07:35] HentschelT commented on #130
Hi Craig,

no prob, take your time and enjoy the vacation. I also closed the PR re: scene updates - it has a problem, in that it uses insteon addresses w/o device id's to map to scenes. This works for devices that only have one device id (channel), but other devices may trigger unrelated scenes. I'll reopen another PR once that is fixed (it's fixed, but I'm in the middle of testing) along with oth

[2018-05-11 01:37] HentschelT commented on #130
Hi Craig,

created PR here: https://github.com/QuailAutomation/openhab2-addons/pull/131
I pretty much went thru the list on my web page, everything is implemented, also did a couple days of testing on my system. Would be good if you could test this on your system too when you get back.

This PR now also has pulled+merged your current master.

Cheers,
-Th

[2018-05-11 09:45] craigham commented on #130
Thomas,

Could you do PRs on the isy-binding branch instead.  When I commit to that
branch my auto build (shippable.io) creates a binding jar automatically.
That branch is a long running one for isy binding code.  This allows me to
have 3 bindings that I can fairly easily work on whenever I can.

Sorry for not making that clear earlier, it’s just hard to sneak in time
while away.

The improvements

[2018-05-11 10:01] HentschelT commented on #130
No prob, moved the PR merge target to the isy-binding branch. Also merged in the (single) change on the branch before.

Take your time, and enjoy vacation

Cheers,
-Th

[2018-05-12 14:15] craigham commented on #130
Hi Thomas,

I think you misunderstood what I was asking for.  It would be great if you could only check in your commits to a pr off of my existing isy-binding branch.  This would mean I would accept maybe 5 commits that only you would have made, instead of the 200 or whatever of the current master over at openHAB.  When I get time I will get my own master sync’d up with OpenHAB.  Last time I check

[2018-08-12 22:30] jmActifio opened #133 "Unable to send UPB Scene command"
First, to all of those who created and maintain the new version of the OmniLink binding, a huge thank you!  I have a large OmniPro system with multiple expansion modules and enclosures representing years of work and sweat, and this finally lets me migrate up to OpenHAB 2.

In the original v1 binding one could define a UPB device as such:
String	DeckLight_String	"Deck [%s]"	(Lights_Deck)	{omnilink=

[2018-08-18 12:44] boc-tothefuture commented on #133
This is probably better handled in the support forum, so others can see the question and pitch in with an answer.  https://community.openhab.org/t/hai-omnilink-binding-for-openhab-2-0/21049/41

Taking a quick look, scenes are now channels of type switch belonging to a think room.  So you would be sending an ON type to the appropriate channel "scene_a" for example, of the room thing.

[2018-09-03 07:04] bschimmelmann commented on #40
Hi everyone,
I just wanted to ask, if the RNET code was abandoned? It appears it has been removed, rather than pulled into the master? Was that just for lack of documentation? Is there anything anyone can do to help? I would so much love for this feature to be available.

[2018-09-03 12:00] boc-tothefuture commented on #40
@bschimmelmann -> Can you point to the RNET code you are talking about?

[2018-09-03 12:57] bschimmelmann commented on #40
@boc-tothefuture - thanks for the quick response. I'm a real novice in this, but it appears that the entire folder openhab2-addons/addons/binding/org.openhab.binding.russound/src/main/java/org/openhab/binding/russound/internal/rnet/ is gone with all related classes. From my understanding, this was the main thing that Craig had developed last year. If I understand the log correctly, this was remove

[2018-09-03 14:06] boc-tothefuture commented on #40
Ahh.. @craigham will have to answer that.  I guess this repository is used for both russound and Omnilink. I am only familiar with the omnilink side of the project (and that is what this particular issue is tracking).

[2018-09-03 14:45] bschimmelmann commented on #40
Oh, sorry, dind't realize this was Omnilink related. I thought it was a general PR into Master (incl. the RNET content). @craigham, has the RNET content been removed in order to get Omnilink merged into Master? If so, is there another branch that is attempting to get RNET back into Master as well? I would be really keen in seeing your RNET implementation in action :-).

[2018-09-03 14:56] craigham commented on #40
@bschimmelmann the russound rnet code which could be contributed to the russound binding is in the russound-rnet2 branch now.

I have not been very active with the openhab stuff lately as I have been working on other things.  I think the biggest thing holding back this rnet code getting merged to master are simple things like documentation, and other code compliance requirements such as licenses,

[2018-09-03 16:45] boc-tothefuture commented on #133
@jmActifio can I close this?

[2018-09-03 16:47] boc-tothefuture commented on #128
@craigham I am doing a few things in OpenHab.  My time will be limited, but I may be able to make some progress here and there.  What version of OpenHab are we currently targeting?  I am currently on 2.2, have we tested this driver on 2.3?

[2018-09-03 16:53] craigham commented on #128
@boc-tothefuture which version of openhab is a good question.  About a month ago I tried to get the repository caught up to openhab/openhab and didn't get very far, and gave up.

I think ideally we want the branch current to the latest master.  I'm not sure if we have to squash all the commits first and rebase, or what.  Have gotten out of my comfort zone with git unfortunately.

What do you think

[2018-09-05 15:39] #133 closed

[2018-11-01 21:36] swamiller commented on #128
Looks like this one is fixed.

[2018-11-01 21:36] #128 closed

[2018-11-05 02:19] mjcumming opened #134 "Omni All On/Off (Button 4 1 /4 0 needs a channel)"
Currently the all on/off commands from a Omni console generate this event

`2018-11-01 08:33:38.408 [vent.ChannelTriggeredEvent] - omnilink:area:9ffcfafd:1:all_on_off_Event triggered OFF`

which is not mappable to an item using a channel.

[2018-12-16 12:19] boc-tothefuture commented on #134
I will try and take a look at this over the holiday break.

[2018-12-16 14:56] swamiller commented on #63
Yes, please.  I would still prefer controlling/status my locks through my alarm panel (as master) versus OH.  I have some creative flag use now to make it work in OH.

[2018-12-17 19:21] #92 closed

[2018-12-29 12:01] boc-tothefuture commented on #63
@swamiller -
  I have added lock support, but I have no way to verify it works.  Can you install this test version and provide feedsback?

https://github.com/boc-tothefuture/openhab2-addons/releases/download/locks/org.openhab.binding.omnilink-2.4.0-SNAPSHOT.jar

[2018-12-29 12:02] boc-tothefuture commented on #20
@craigham  - bump to close.

[2018-12-29 15:49] #20 closed

[2018-12-30 06:09] swamiller commented on #63
@boc-tothefuture
So far, so good! I installed the test version and created new door lock items.  They seem to function ok for the first install.  I'll do more testing and update.

[2018-12-30 19:09] swamiller commented on #63
I removed all my work around flags from my Omni, created OH items for each lock, and all seems to function as desired.

One question, there is a logEvent for "LogEvent changed from DOOR LOCKED to DOOR UNLOCKED" which is helpful.  Is there a way to append the item name to know which door?  Not a deal breaker, more of a question.

Thank you!!

[2018-12-30 19:31] boc-tothefuture commented on #63
@swamiller - If I am understanding you correctly, you are talking about the logEvent text which comes from polling the omni.  The Omni is the one responsible for that text, the binding doesn't modify it.

[2019-01-05 02:21] swamiller commented on #63
LGTM, thank you @boc-tothefuture!

[2019-01-05 02:21] #63 closed

[2019-03-30 00:45] boc-tothefuture commented on #134
@mjcumming - are you saying you want to detect when an all on/off event happens?  Or you want to trigger the all on/off event on the omni?

[2019-03-30 00:46] boc-tothefuture commented on #99
I believe this is fixed by the same change that fixed the deadlock issue.  I haven't seen it crop up in a while.

[2019-03-30 00:46] #99 closed

[2019-03-30 00:47] boc-tothefuture commented on #113
@craigham - can you close this?

[2019-03-30 00:48] boc-tothefuture opened #138 "Convert build to the new openhab build system."
Details [see here](https://github.com/openhab/openhab2-addons/issues/5005)

[2019-03-30 06:10] digitaldan commented on #138
@boc-tothefuture  I have this done, but am running into one problem.  It looks like the version of jomnilink in this project (jomnilink-1.3.0-SNAPSHOT.jar) is a fork from my jomnilink project, but i can not find the source of it anywhere.  I am trying to use the one being published maven repo so we don't have to include the lib directory anymore. Do you know where this is?  And can those changes b

[2019-03-30 06:19] digitaldan commented on #138
ah, found it https://github.com/boc-tothefuture/jomnilink/commits/locks , for some reason this was not shown as an active branch and i missed it when poking around forks.  Can you make a PR ?  Thanks!

[2019-03-30 09:04] boc-tothefuture commented on #138
@digitaldan PR submitted.

[2019-03-30 20:59] mjcumming commented on #134
The Omni 4-0 and 4-1 All On/Off button presses from the console. Its the system event ALL ON/OFF 0000 0011 111s aaaa s = state

[2019-03-31 02:19] boc-tothefuture commented on #134
Ah, ok.. So  that would be a trigger channel then.  I am looking at some more of those for UPB links, so I can add it at the same time.

[2019-03-31 04:35] boc-tothefuture commented on #134
@mjcumming -
  I started looking at this.  It is a channel trigger (there is no state) so it should not be mapped to an item. It should be processed in your rules as other channel triggers would.

[2019-03-31 10:24] boc-tothefuture commented on #40
Updated the checklist above..  Before we merge into master we should standardize (and match the openhab standard) for our channel names.  Some are camelCase, some are snake_case.

[2019-03-31 12:48] mjcumming commented on #134
I do see the channel event, didn't realize you can't map that to an item and that you must create a rule to get the channel event - thank you.

2018-11-01 08:33:38.408 [vent.ChannelTriggeredEvent] - omnilink:area:9ffcfafd:1:all_on_off_Event triggered OFF

[2019-03-31 12:48] #134 closed

[2019-04-03 08:13] boc-tothefuture commented on #138
@digitaldan -
  Are we now building against 2.5 then?  If using the new build system - I am assuming that is the case.

[2019-04-03 08:14] boc-tothefuture opened #140 "Convert stateless items into command options."
Details are here: https://community.openhab.org/t/inbound-triggers-into-a-binding/71384/9

[2019-06-24 23:51] mattlapine commented on #121
Searching thru the community forum led me to this issue.  I see this is still open, so presumably generic unit support was never added in the binding, but UPB units work, thus the workaround is to use UPB for now?

[2019-06-25 18:44] boc-tothefuture commented on #124
This was implement in #142

[2019-06-25 18:44] #124 closed

[2019-06-25 18:45] boc-tothefuture commented on #121
Generic unit support was added in #142
I am going to close this issue to prevent future confusion.
@mattlapine - Can you open a separate issue if it isn't working for you?

[2019-06-25 18:45] #121 closed

[2019-06-25 18:46] boc-tothefuture commented on #113
@craigham - bump on closing this.

[2019-06-25 18:47] boc-tothefuture commented on #86
@digitaldan and @craigham Where did we land on this?  Did we implement or abandon this idea?

[2019-06-26 12:35] #113 closed

[2019-06-26 12:39] craigham commented on #86
Probably just didn’t implement.  I will take a look and look into completing the work.

[2019-06-28 16:30] craigham commented on #86
@boc-tothefuture this looks like it was done before.  all the channels use "area_command".

I will close this issue, let me know if I am missing something.

[2019-06-28 16:30] #86 closed

[2019-08-23 09:00] boc-tothefuture commented on #138
@digitaldan - now that the openhab master I can start working on this binding again, where did you end up with the new build system?

[2019-08-23 09:02] boc-tothefuture opened #145 "Omnilink binding disconnects if it receives too many commands"
Details available in the community:  https://community.openhab.org/t/hai-omnilink-binding-for-openhab-2-0/21049/221

[2019-08-23 09:04] boc-tothefuture opened #146 "Omnilink should support sending "all on" and "all off" commands"
Request in the community:  https://community.openhab.org/t/hai-omnilink-binding-for-openhab-2-0/21049/221

[2019-08-24 01:09] craigham commented on #138
@boc-tothefuture have you got a build environment working within the new system?  I have been holding off investing the time in setting one up until things have settled.

thanks

[2019-08-24 11:24] boc-tothefuture commented on #138
@craigham - No not yet.  Now that 2.5M2 is released I think things are stable enough to make progress.  I think @digitaldan already did some work in this space so I was hoping to not start from scratch.

[2019-08-25 13:54] digitaldan commented on #138
It’s been so long I can’t remember :-) let me check today , but I have
converted a few bindings to the new build system, should not take me long
either way.

On Sat, Aug 24, 2019 at 7:24 AM boc-tothefuture <notifications@github.com>
wrote:

--
Sent from my mobile.

[2019-08-31 15:40] digitaldan commented on #138
I'm looking at this today FYI.  I do have a branch converted to the new BND build system , but tis a few months old and i need to verify its still valid.

[2019-08-31 16:08] digitaldan commented on #138
So @craigham  you merged my PR #144  back in April, this moved the binding to the new build  system.  I just tested it ( ` mvn -DskipChecks=true -Denforcer.skip=true clean install`) and it build and runs on my system still.  I did notice I forgot to add this to the /bundles/pom.xml, but that would only  effect when building all bindings, I'll open a PR today to fix that.

Also I think we should op

[2019-09-02 10:35] boc-tothefuture commented on #138
@digitaldan -
  We have a released ticket [here](https://github.com/QuailAutomation/openhab2-addons/issues/40)
  I have added the items you mentioned.

[2019-09-02 10:50] boc-tothefuture commented on #138
@digitaldan  -
  It sounds like this was merged in April.. can I close this issue?

[2019-09-03 05:05] digitaldan commented on #138
DOH!

[2019-09-03 05:06] digitaldan commented on #138
i think so, unless the build is not working for you.

[2020-05-15 01:11] ecdye opened #150 "Why is this not in the core project"
Is there any particular reason that the omnilink add-on has not been incorporated into the core openhab-addons repo?

[2020-05-22 15:44] craigham commented on #150
There is a lot of work required to get the binding accepted into the main repo in terms of documentation, etc.

I can only speak for myself, but I do not have time to complete those tasks.

[2020-05-22 15:44] #150 closed

[2020-05-22 18:06] ecdye commented on #150
Would you be okay with me updating and making it acceptable the main repo and submitting it for admission?

[2020-05-22 18:08] craigham commented on #150
absolutely.  it would be great to have the binding more accessible.

[2020-05-22 18:22] cole701 commented on #150
I still have a working OmniPro II Test Rig is anything needs to be vetted
and tested...  It has been a while since I have been in the project...

On Fri, May 22, 2020 at 1:08 PM Craig H <notifications@github.com> wrote:

[2020-07-08 18:03] swamiller opened #152 "Align Omnilink motion item type with other OH devices"
Currently the Omnilink binding uses a Contact item type for motions which output an "OPEN" or "CLOSED" state.
Other common OH devices (like zwave) use a Switch item type with an "ON" or "OFF" output for motion detectors.

The difference in item types forces the need to convert one or the other for usage in occupancy rule logic.

[2020-10-21 03:27] boc-tothefuture commented on #152
Hi @swamiller Not sure what we should do for this one.. because a motion sensor really is a contact and certainly that is how Omnilink views it in the protocol.

[2020-10-22 00:22] swamiller commented on #152
No worries, looks like zwave might be the odd setup.  I'll close the issue.

[2020-10-22 00:22] #152 closed